openapi: 3.0.0
info:
  title: Chariot API
  version: "v1"
  description: The Chariot REST API. Please see https://docs.givechariot.com/api for more details.
  contact:
    name: Chariot Development Team
    url: https://givechariot.com/contact
    email: developers@givechariot.com
  termsOfService: https://givechariot.com/legal-nonprofit
servers:
  - url: https://sandboxapi.givechariot.com
    description: Sandbox
  - url: https://api.givechariot.com
    description: Production
paths:
  /v1/organizations/search:
    get:
      summary: Search organizations
      description: |-
        Search for organizations by name or EIN.
        This endpoint exists to support a typeahead search or quick lookup by nonprofit EIN or name.
        The Get Organization API should be used to retrieve detailed information about an organization.
      operationId: searchOrganizations
      tags:
        - Organizations
      security:
        - bearerAuth: []
      parameters:
        - name: q
          in: query
          required: true
          description: |-
            The query string to search for. If this is in the format of an EIN, the search will be limited exclusively to the organization with that EIN. Otherwise, this will be a fuzzy search on organization name.
          schema:
            type: string
        - name: ein
          in: query
          description: |-
            The Employer Identification Number (EIN) or TaxID for the nonprofit entity. This is deprecated in favor of the `q` parameter.
          schema:
            type: string
          deprecated: true
        - name: name
          in: query
          description: |-
            The name of the organization. This is deprecated in favor of the `q` parameter.
          schema:
            type: string
          deprecated: true
        - name: limit
          in: query
          description: Limit the size of the list that is returned. The default (and maximum) is 20 objects.
          required: false
          schema:
            type: integer
            format: int32
      responses:
        "200":
          $ref: "#/components/responses/SearchOrganizationsResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/organizations/{id}:
    get:
      summary: Get organization
      description: |-
        Retrieves the organization with the given ID.
      operationId: getOrganization
      tags:
        - Organizations
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the organization
          schema:
            type: string
          required: true
          example: "org_1LaXpKGUcADgqoEMl0Cx0Ygg"
      responses:
        "200":
          description: "OK"
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Organization"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/programs:
    get:
      summary: List Programs
      description: |-
        Returns a list of all programs for your Chariot account.
      operationId: list-programs
      tags:
        - Programs
      security:
        - bearerAuth: []
      parameters:
        - name: page_limit
          in: query
          description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
          required: false
          schema:
            type: integer
            format: int32
        - name: next_page_token
          in: query
          description: |-
            A token to use to retrieve the next page of results. This is useful for paginating over many pages of results. If set, all other arguments are expected to be kept the same as previous calls and the value of this field should be from the nextPageToken in the previous response.
          required: false
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/ListProgramsResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/programs/{id}:
    get:
      summary: Get Program
      description: |-
        Retrieves the program with the given ID.
      operationId: get-program
      tags:
        - Programs
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the program
          schema:
            type: string
          required: true
          example: "program_01j8rs605a4gctmbm58d87mvsj"
      responses:
        "200":
          description: OK
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Program"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/connects:
    post:
      summary: Create Connect
      description: |-
        Get an existing connect or create a new connect for an existing nonprofit organization.

        The returned Connect can be used to integrate the client-side Chariot Connect component using the `id` property (CID) and also query for data generated from the Chariot Connect instance using the connect_id query parameter in any of the List Grants API endpoints.

        <Note>
        Only one Connect object can be created per organization.
        If one already exists, this will return a `200 OK` status with the existing object.
        </Note>
      operationId: create-connect
      tags:
        - Connects
      security:
        - bearerAuth: []
      requestBody:
        $ref: "#/components/requestBodies/CreateConnectRequest"
      responses:
        "200":
          description: OK
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            Location:
              $ref: "#/components/headers/Location"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Connect"
              examples:
                Simple:
                  $ref: "#/components/examples/ConnectOutput"
        "201":
          description: Created
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            Location:
              $ref: "#/components/headers/Location"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Connect"
              examples:
                Simple:
                  $ref: "#/components/examples/ConnectOutput"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/connects/{id}:
    get:
      summary: Get Connect
      description: |-
        Retrieve a connect with the given ID.
      operationId: get-connect
      tags:
        - Connects
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: the unique id of the connect
          schema:
            type: string
          required: true
          example: live_xJd0lUrvpDkzeGBWZbuI2wbvEdM
      responses:
        "200":
          description: "OK"
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Connect"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/grants:
    get:
      summary: List Grants
      description: |-
        Returns a list of all grants for a given Connect. This API allows for paginating over many results.
      operationId: list-grants
      tags:
        - Grants
      security:
        - bearerAuth: []
      parameters:
        - name: connect_id
          in: query
          description: the `id` of the Connect object. This can be used to filter the grants by a specific Connect if you have more than one.
          schema:
            type: string
          required: false
          example: "live_2d821da0ed8bc7256e260f4eb5244f2d8f06c576342f922ba2f0a416d8c98002"
        - name: pageLimit
          in: query
          description: the number of results to return; defaults to 10, max is 100
          schema:
            type: integer
            default: 10
        - name: pageToken
          in: query
          description: |-
            A token to use to retrieve the next page of results. This is useful for paginating over many pages of results. If set, all other arguments are expected to be kept the same as previous calls and the value of this field should be from the nextPageToken in the previous response.
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/ListGrantsResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
    post:
      summary: Create Grant
      description: |-
        Create and submit a new grant. This should be used to capture a grant intent from an authorized DAFpay workflow session and submit the grant request to the DAF sponsor.
        On initial creation of the grant, this request will return a 201 Created status. On subsequent requests, the request will return status 200 OK.

        <Warning>
        Error handling:
        - The grant must be captured within 15 minutes of authorization otherwise the request will return status `410 Gone`.
        - If this request is submitted while this grant is already being processed, the request will return status `409 Conflict`.
        - The amount must be in whole dollar increments (rounded to the nearest hundred) as currently DAFs only accept whole dollar grants otherwise the request will return status `400 Bad Request`.
        - The amount must be greater than or equal to the minimum grant amount for the DAF otherwise the request will return status `400 Bad Request`.
        - The amount must be less than or equal to the user's DAF account balance otherwise the request will return status `400 Bad Request`.
        - Any inputs exceeding the maximum allowed length will be automatically truncated.
        </Warning>
      operationId: create-grant
      tags:
        - Grants
      security:
        - bearerAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GrantCaptureRequest"
      responses:
        "201":
          description: Created
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            Location:
              description: The URI reference of the created grant object.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Grant"
              examples:
                Simple:
                  $ref: "#/components/examples/GrantOutput"
        "200":
          description: The grant
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Grant"
              examples:
                Simple:
                  $ref: "#/components/examples/GrantOutput"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "410":
          $ref: "#/components/responses/GoneError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/grants/{id}:
    get:
      summary: Get Grant
      description: |-
        Retrieve a grant with the given ID.
      operationId: get-grant
      tags:
        - Grants
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: |-
            The unique id of the grant.
            The format should be a v4 UUID according to RFC 4122.
          schema:
            type: string
            format: uuid
          required: true
          example: 10229488-08d2-4629-b70c-a2f4f4d25344
      responses:
        "200":
          description: OK
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Grant"
              examples:
                Simple:
                  $ref: "#/components/examples/GrantOutput"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/recurring_grants:
    get:
      summary: List Recurring Grants
      description: |-
        Returns a list of all recurring grants for a given Connect. This API allows for paginating over many results.
      operationId: list-recurring-grants
      tags:
        - recurring_grants
      security:
        - bearerAuth: []
      parameters:
        - name: connect_id
          in: query
          description: the `id` of the Connect object. This can be used to filter the recurring grants by a specific Connect if you have more than one.
          schema:
            type: string
          required: false
          example: "live_2d821da0ed8bc7256e260f4eb5244f2d8f06c576342f922ba2f0a416d8c98002"
        - name: pageLimit
          in: query
          description: the number of results to return; defaults to 10, max is 100
          schema:
            type: integer
            default: 10
        - name: pageToken
          in: query
          description: |-
            A token to use to retrieve the next page of results. This is useful for paginating over many pages of results. If set, all other arguments are expected to be kept the same as previous calls and the value of this field should be from the nextPageToken in the previous response.
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/ListRecurringGrantsResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
    post:
      summary: Create Recurring Grant
      description: |-
        Create and submit a new recurring grant. This should be used to capture a recurring grant intent from an authorized DAFpay workflow session and submit the recurring grant request to the DAF sponsor.

        <Warning>
        Error handling:
        - The recurring grant must be captured within 15 minutes of authorization otherwise the request will return status `410 Gone`.
        - A recurring grant can only be captured once from any given workflow session so any duplicate requests will return status `409 Conflict`.
        - The amount must be in whole dollar increments (rounded to the nearest hundred) as currently DAFs only accept whole dollar grants otherwise the request will return status `400 Bad Request`.
        - The amount must be greater than or equal to the minimum grant amount for the DAF otherwise the request will return status `400 Bad Request`.
        - The amount must be less than or equal to the user's DAF account balance otherwise the request will return status `400 Bad Request`.
        - Any inputs exceeding the maximum allowed length will be automatically truncated unless otherwise stated.
        </Warning>
      operationId: create-recurring-grant
      tags:
        - recurring_grants
      security:
        - bearerAuth: []
      requestBody:
        $ref: "#/components/requestBodies/RecurringGrantCaptureRequest"
      responses:
        "201":
          description: Created recurring grant
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            Location:
              description: The URI reference of the created recurring grant object.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecurringGrant"
              examples:
                Simple:
                  $ref: "#/components/examples/RecurringGrantOutput"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "410":
          $ref: "#/components/responses/GoneError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/recurring_grants/{id}:
    get:
      summary: Get Recurring Grant
      description: |-
        Retrieve a recurring grant with a given ID.
      operationId: get-recurring-grant
      tags:
        - recurring_grants
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: |-
            The unique id of the recurring grant.
            The format should be a v4 UUID according to RFC 4122.
          schema:
            type: string
            format: uuid
          required: true
          example: 10229488-08d2-4629-b70c-a2f4f4d25344
      responses:
        "200":
          description: OK
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecurringGrant"
              examples:
                Simple:
                  $ref: "#/components/examples/RecurringGrantOutput"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/unintegrated_grants:
    get:
      summary: List Unintegrated Grants
      description: |-
        Returns a list of all unintegrated grants for a given Connect. This API allows for paginating over many results.
      operationId: list-unintegrated-grants
      tags:
        - unintegrated_grants
      security:
        - bearerAuth: []
      parameters:
        - name: connect_id
          in: query
          description: the `id` of the Connect object. This can be used to filter the unintegrated grants by a specific Connect if you have more than one.
          schema:
            type: string
          required: false
          example: "live_2d821da0ed8bc7256e260f4eb5244f2d8f06c576342f922ba2f0a416d8c98002"
        - name: pageLimit
          in: query
          description: the number of results to return; defaults to 10, max is 100
          schema:
            type: integer
            default: 10
        - name: pageToken
          in: query
          description: |-
            A token to use to retrieve the next page of results. This is useful for paginating over many pages of results. If set, all other arguments are expected to be kept the same as previous calls and the value of this field should be from the nextPageToken in the previous response.
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/ListUnintegratedGrantsResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/unintegrated_grants/{id}:
    get:
      summary: Get Unintegrated Grant
      description: |-
        Retrieve an unintegrated grant with a given ID.
      operationId: get-unintegrated-grant
      tags:
        - unintegrated_grants
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: |-
            The unique id of the unintegrated grant.
            The format should be a v4 UUID according to RFC 4122.
          schema:
            type: string
            format: uuid
          required: true
          example: 10229488-08d2-4629-b70c-a2f4f4d25344
      responses:
        "200":
          description: OK
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnintegratedGrant"
              examples:
                Simple:
                  $ref: "#/components/examples/UnintegratedGrantOutput"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/dafs:
    get:
      summary: List Donor Advised Funds
      description: |-
        Returns a list of all Donor Advised Funds within Chariot's system. This API allows for paginating over many results.

        <Note>
        If there are DAFs missing from the list, please contact support at support@givechariot.com.
        </Note>
      operationId: list-dafs
      tags:
        - Donor Advised Funds
      security:
        - bearerAuth: []
      parameters:
        - name: supportedOnly
          in: query
          description: |-
            If set to true, filters DAFs to only those that have a direct integration with Chariot.
          schema:
            type: boolean
            default: false
        - name: query
          in: query
          description: |-
            If included, filters DAFs to only those that contain the query. This parameter is case insensitive.
          schema:
            type: string
        - name: pageLimit
          in: query
          description: the number of results to return; defaults to 10, max is 100
          schema:
            type: integer
            default: 10
        - name: pageToken
          in: query
          description: |-
            A token to use to retrieve the next page of results. This is useful for paginating over many pages of results. If set, all other arguments are expected to be kept the same as previous calls.
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/ListDafsResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/dafs/{id}:
    get:
      summary: Get Donor Advised Fund
      description: |-
        Retrieve a DAF with a given ID.
      operationId: get-daf
      tags:
        - Donor Advised Funds
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: |-
            The unique id of the DAF.
            The format should be a v4 UUID according to RFC 4122.
          schema:
            type: string
            format: uuid
          required: true
          example: f9e28217-e0f7-4a54-9764-d664ffb10722
      responses:
        "200":
          description: "OK"
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Daf"
              examples:
                Npt:
                  $ref: "#/components/examples/DafOutput"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/events:
    get:
      summary: List Events
      description: |-
        List all events corresponding to your Chariot account.
      operationId: listEvents
      tags:
        - Events
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
          required: false
          schema:
            type: integer
            format: int32
        - name: cursor
          in: query
          description: The cursor to use for pagination. If not set, the first page of results will be returned.
          required: false
          schema:
            type: string
        - name: category
          in: query
          description: |
            Filter Events for those with the specified category.
          required: false
          schema:
            $ref: "#/components/schemas/EventCategory"
      responses:
        "200":
          $ref: "#/components/responses/ListEventsResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/events/{id}:
    get:
      summary: Get Event
      description: |-
        Retrieve an event with the given ID.
      operationId: getEvent
      tags:
        - Events
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique id for the event
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Event"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/event_subscriptions:
    post:
      summary: Create an Event Subscription
      description: |-
        Create an event subscription corresponding to your Chariot account.
      operationId: createEventSubscription
      tags:
        - Event Subscriptions
      security:
        - bearerAuth: []
      requestBody:
        $ref: "#/components/requestBodies/CreateEventSubscriptionRequest"
      responses:
        "201":
          description: Created
          headers:
            Location:
              $ref: "#/components/headers/Location"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventSubscription"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
    get:
      summary: List Event Subscriptions
      description: |-
        List all event subscriptions corresponding to your Chariot account.
      operationId: listEventSubscriptions
      tags:
        - Event Subscriptions
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
          required: false
          schema:
            type: integer
            format: int32
        - name: cursor
          in: query
          description: The cursor to use for pagination. If not set, the first page of results will be returned.
          required: false
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/ListEventSubscriptionsResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/event_subscriptions/{id}:
    get:
      summary: Get an Event Subscription
      description: |-
        Retrieve an event subscription with the given ID.
      operationId: getEventSubscription
      tags:
        - Event Subscriptions
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the event subscription
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventSubscription"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
    patch:
      summary: Update an Event Subscription
      description: |-
        Update an event subscription with the given ID.
      operationId: updateEventSubscription
      tags:
        - Event Subscriptions
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the event subscription
          required: true
          schema:
            type: string
      requestBody:
        $ref: "#/components/requestBodies/UpdateEventSubscriptionRequest"
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventSubscription"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/financial_accounts:
    get:
      summary: List financial accounts
      description: |
        Returns a list of financial accounts.
      operationId: listFinancialAccounts
      tags:
        - financial_accounts
      parameters:
        - name: program_id
          in: query
          description: The unique identifier for the program
          required: false
          schema:
            type: string
          example: "program_01jpjenf5q6cawy43yxfcrxhct"
        - name: page_limit
          in: query
          description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
          required: false
          schema:
            type: integer
            format: int32
        - name: next_page_token
          in: query
          description: |-
            A token to use to retrieve the next page of results. This is useful for paginating over many pages of results. If set, all other arguments are expected to be kept the same as previous calls and the value of this field should be from the nextPageToken in the previous response.
          required: false
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        "200":
          $ref: "#/components/responses/ListFinancialAccountsResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/financial_accounts/{id}:
    get:
      summary: Get a financial account
      description: |
        Get a financial account by its unique identifier.
      operationId: getFinancialAccount
      tags:
        - financial_accounts
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the financial account
          required: true
          schema:
            type: string
          example: "account_01jpjenf5q6cawy43yxfcrxhct"
      responses:
        "200":
          description: The financial account was retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FinancialAccount"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/financial_accounts/{id}/balance:
    get:
      summary: Get a financial account balance
      description: |
        Get a financial account balance by its unique identifier.
      operationId: getFinancialAccountBalance
      tags:
        - financial_accounts
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the financial account
          required: true
          schema:
            type: string
          example: "account_01jpjenf5q6cawy43yxfcrxhct"
      responses:
        "200":
          description: The financial account was retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FinancialAccountBalance"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/disbursements:
    post:
      summary: Create a disbursement
      description: |
        Create a disbursement to send money to an organization.
        
        If the program specified does not have grant_disbursement_status enabled
        or if no grant_disbursement_status enabled program exists for your account, this will return a 403 Forbidden error.
        If your Chariot account has multiple grant_disbursement_status enabled programs, you must specify the program_id to use for the disbursement
        otherwise the request will return a 400 Bad Request error.
      operationId: createDisbursement
      tags:
        - disbursements
      security:
        - bearerAuth: []
      requestBody:
        $ref: "#/components/requestBodies/CreateDisbursementRequest"
      responses:
        "201":
          description: The disbursement was created
          headers:
            Location:
              $ref: "#/components/headers/Location"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Disbursement"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "409":
          $ref: "#/components/responses/ConflictError"
    get:
      summary: List disbursements
      description: |
        Returns a list of disbursements.
      operationId: listDisbursements
      tags:
        - disbursements
      security:
        - bearerAuth: []
      parameters:
        - name: organization_id
          in: query
          description: The unique identifier for the recipient organization
          required: false
          schema:
            type: string
          example: "org_01j8rs605a4gctmbm58d87mvsj"
        - name: program_id
          in: query
          description: The unique identifier for the program
          required: false
          schema:
            type: string
          example: "program_01jpjenf5q6cawy43yxfcrxhct"
        - name: page_limit
          in: query
          description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
          required: false
          schema:
            type: integer
            format: int32
        - name: next_page_token
          in: query
          description: |-
            A token to use to retrieve the next page of results. This is useful for paginating over many pages of results. If set, all other arguments are expected to be kept the same as previous calls and the value of this field should be from the nextPageToken in the previous response.
          required: false
          schema:
            type: string
        - name: includes
          in: query
          description: |-
            A comma separated list of fields to include in the response.
            Possible values include:
              - `organization`: Include the organization object in the response.
          required: false
          schema:
            type: string
            example: "organization"
      responses:
        "200":
          $ref: "#/components/responses/ListDisbursementsResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/disbursements/bulk:
    post:
      summary: Create multiple disbursements
      description: |
        Create multiple disbursements in a single request.
        This is useful for batch operations where you need to create many disbursements at once.

        All disbursements in the request will be created together. If any disbursement fails validation,
        the entire request will fail and no disbursements will be created.

        If any of the disbursements in the request have a program specified that does not have grant_disbursement_status enabled
        or if no grant_disbursement_status enabled program exists for your account, the request will return a 403 Forbidden error.
        If your Chariot account has multiple grant_disbursement_status enabled programs, you must specify the program_id to use for the disbursements
        otherwise the request will return a 400 Bad Request error.
      operationId: bulkCreateDisbursements
      tags:
        - disbursements
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - disbursements
              properties:
                disbursements:
                  type: array
                  description: Array of disbursements to create
                  minItems: 1
                  items:
                    $ref: "#/components/schemas/CreateDisbursementInput"
      responses:
        "201":
          description: The disbursements were created
          content:
            application/json:
              schema:
                type: object
                required:
                  - disbursements
                  - count
                properties:
                  disbursements:
                    type: array
                    items:
                      $ref: "#/components/schemas/Disbursement"
                  count:
                    type: integer
                    description: The number of disbursements created
                    example: 5
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "409":
          $ref: "#/components/responses/ConflictError"
  /v1/disbursements/{id}:
    get:
      summary: Get a disbursement
      description: |
        Get a disbursement by its unique identifier.
      operationId: getDisbursement
      tags:
        - disbursements
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the disbursement
          required: true
          schema:
            type: string
          example: "disbursement_01jpjen1s23s29kkmnjsb6fzga"
      responses:
        "200":
          description: The disbursement was retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Disbursement"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/disbursements/{id}/approve:
    post:
      summary: Approve a disbursement
      description: |
        Approve a disbursement in a pending_approval state.
        If the disbursement is in a different state, this will return a 400 error.
      operationId: approveDisbursement
      tags:
        - disbursements
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the disbursement
          required: true
          schema:
            type: string
          example: "disbursement_01jpjen1s23s29kkmnjsb6fzga"
      responses:
        "200":
          description: The disbursement was approved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Disbursement"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/disbursements/approve:
    post:
      summary: Approve multiple disbursements
      description: |
        Approve multiple disbursements in a single request.
        This is useful for batch approval operations.

        All disbursements must be in the `pending_approval` state. If any disbursement
        cannot be approved, the entire request will fail and no disbursements will be approved.
      operationId: bulkApproveDisbursements
      tags:
        - disbursements
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - disbursement_ids
              properties:
                disbursement_ids:
                  type: array
                  description: Array of disbursement IDs to approve
                  minItems: 1
                  items:
                    type: string
                    example: "disbursement_01jpjen1s23s29kkmnjsb6fzga"
      responses:
        "200":
          description: The disbursements were approved
          content:
            application/json:
              schema:
                type: object
                required:
                  - disbursements
                  - count
                properties:
                  disbursements:
                    type: array
                    items:
                      $ref: "#/components/schemas/Disbursement"
                  count:
                    type: integer
                    description: The number of disbursements approved
                    example: 5
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/disbursements/{id}/cancel:
    post:
      summary: Cancel a pending disbursement
      description: |
        Cancel a pending disbursement in a pending_approval state.
        If the disbursement is in a different state, this will return a 400 error.
      operationId: cancelDisbursement
      tags:
        - disbursements
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the disbursement
          required: true
          schema:
            type: string
          example: "disbursement_01jpjen1s23s29kkmnjsb6fzga"
      responses:
        "200":
          description: The disbursement was canceled
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Disbursement"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/disbursements/{id}/stop:
    post:
      summary: Stop payment for a disbursement
      description: |
        Stop payment for a disbursement sent via check.

        This prevents the recipient from depositing the check. If the check has already been deposited, the stop payment request will fail.

        **Requirements:**
        - Disbursement must be in `submitted` status
        - Disbursement must be sent via check
        - Check must not have already been deposited

        After successfully stopping payment, the disbursement status will be updated to `stopped`.
      operationId: stopDisbursement
      tags:
        - disbursements
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the disbursement
          required: true
          schema:
            type: string
          example: "disbursement_01jpjen1s23s29kkmnjsb6fzga"
      requestBody:
        $ref: "#/components/requestBodies/StopDisbursementRequest"
      responses:
        "202":
          description: The stop payment request was accepted
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/simulations/disbursements/{id}/complete:
    post:
      summary: "Sandbox: Complete a disbursement"
      description: |
        Simulates successful disbursement completion for testing purposes.
        The disbursement must have a status of `submitted`.

        After calling this endpoint, the disbursement status will be updated to `completed`.

        <Note title="Sandbox Only" icon="fa-light fa-atom-simple">
        This API is only available in the sandbox environment.
        </Note>
      operationId: simulateDisbursementCompletion
      tags:
        - disbursements
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the disbursement
          required: true
          schema:
            type: string
          example: "disbursement_01jpjen1s23s29kkmnjsb6fzga"
      responses:
        "202":
          description: The disbursement completion request was accepted
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/simulations/disbursements/{id}/fail:
    post:
      summary: "Sandbox: Fail a disbursement"
      description: |
        Simulates a payment failure or return for testing purposes.
        The disbursement must have a status of `submitted`.
        This only applies for disbursements sent via ACH or check.

        - **ACH disbursements**: Status becomes `failed` (payment was returned and cannot be retried)
        - **Check disbursements**: Status becomes `validating_organization` (check was returned). When this happens, Chariot will investigate why the check failed to reach the organization, update any required recipient information (such as mailing address or organization contact details), and automatically reattempt payout once the issue is resolved.

        <Note title="Sandbox Only" icon="fa-light fa-atom-simple">
        This API is only available in the sandbox environment.
        </Note>
      operationId: simulateDisbursementFailure
      tags:
        - disbursements
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the disbursement
          required: true
          schema:
            type: string
          example: "disbursement_01jpjen1s23s29kkmnjsb6fzga"
      responses:
        "202":
          description: The disbursement failure simulation was accepted
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/inbound_transfers:
    post:
      summary: Create an Inbound transfer
      description: |-
        Create an inbound transfer to fund your financial account
        from an externally linked bank account.
        In Production, this requires that an external bank account has been setup
        and verified for your account through the Chariot Dashboard.
      operationId: createInboundTransfer
      tags:
        - inboundTransfers
      security:
        - bearerAuth: []
      parameters:
        - name: Idempotency-Key
          in: header
          description: The idempotency key for the request
          required: false
          schema:
            type: string
      requestBody:
        $ref: "#/components/requestBodies/CreateInboundTransferRequest"
      responses:
        "201":
          description: The inbound transfer was created
          headers:
            Location:
              $ref: "#/components/headers/Location"
            Idempotency-Key:
              $ref: "#/components/headers/Idempotency-Key"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InboundTransfer"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "500":
          $ref: "#/components/responses/InternalServerError"
    get:
      summary: List Inbound Transfers
      description: |-
        List inbound transfers for your account.
      operationId: listInboundTransfers
      tags:
        - inboundTransfers
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
          required: false
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: The cursor to use for pagination. If not set, the first page of results will be returned.
          required: false
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/ListInboundTransfersResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/inbound_transfers/{id}:
    get:
      summary: Get an Inbound Transfer
      description: |-
        Get an inbound transfer by its unique identifier.
      operationId: getInboundTransfer
      tags:
        - inboundTransfers
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the inbound transfer
          required: true
          schema:
            type: string
          example: "inbound_transfer_01j8rs605a4gctmbm58d87mvsj"
      responses:
        "200":
          description: The inbound transfer was retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InboundTransfer"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/inbound_transfers/{id}/cancel:
    post:
      summary: Cancel an Inbound Transfer
      description: |-
        Cancel an inbound transfer.
        Returns the Inbound Transfer object if the cancelation succeeded.
        Returns a 412 Precondition Failed if the Inbound Transfer has already been canceled or cannot be canceled.
      operationId: cancelInboundTransfer
      tags:
        - inboundTransfers
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the inbound transfer
          required: true
          schema:
            type: string
          example: "inbound_transfer_01j8rs605a4gctmbm58d87mvsj"
      responses:
        "200":
          description: The inbound transfer was canceled
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InboundTransfer"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/simulations/inbound_transfers/{id}/fail:
    post:
      summary: "Sandbox: Fail an Inbound Transfer"
      description: |-
        Simulate an inbound transfer failure.

        <Note title="Sandbox Only" icon="fa-light fa-atom-simple">
        This API is only available in the sandbox environment.
        </Note>
      operationId: simulateInboundTransferFailure
      tags:
        - inboundTransfers
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the inbound transfer
          required: true
          schema:
            type: string
          example: "inbound_transfer_01j8rs605a4gctmbm58d87mvsj"
      responses:
        "202":
          description: The inbound transfer failure request was accepted
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/simulations/inbound_transfers/{id}/complete:
    post:
      summary: "Sandbox: Complete an Inbound Transfer"
      description: |-
        Simulate an inbound transfer completion.

        <Note title="Sandbox Only" icon="fa-light fa-atom-simple">
        This API is only available in the sandbox environment.
        </Note>
      operationId: simulateInboundTransferCompletion
      tags:
        - inboundTransfers
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the inbound transfer
          required: true
          schema:
            type: string
          example: "inbound_transfer_01j8rs605a4gctmbm58d87mvsj"
      responses:
        "202":
          description: The inbound transfer completion request was accepted
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/virtual_accounts:
    get:
      summary: List Virtual Accounts
      description: |-
        List virtual accounts for your Chariot account.

        Virtual Accounts represent segregated addresses for incoming deposits.
        In practice, this can be separate electronic bank addresses (account + routing numbers) or physical mailing addresses (lockboxes).
        Virtual Accounts make it easy to independently manage and consolidate incoming payments and donations from different sources
        which in turn makes reconciliation of money and data seamless.
        Every Virtual Account belongs to a specific Financial Account and can be thought of as a gateway/door for money to flow into the Financial Account.
        Virtual Accounts are not separately ledgered which means you can't get the balance of a Virtual Account separately from the Financial Account.

        Virtual Accounts should be setup and managed through the Chariot Dashboard.
      operationId: listVirtualAccounts
      tags:
        - virtualAccounts
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
          required: false
          schema:
            type: integer
            format: int32
        - name: page_token
          in: query
          description: The cursor to use for pagination. If not set, the first page of results will be returned.
          required: false
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/ListVirtualAccountsResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/virtual_accounts/{id}:
    get:
      summary: Get a Virtual Account
      description: |-
        Get a virtual account by its unique identifier.

        A Virtual Account represents a segregated address for incoming deposits.
        In practice, this can be separate electronic bank addresses (account + routing numbers) or physical mailing addresses (lockboxes).
        Virtual Accounts make it easy to independently manage and consolidate incoming payments and donations from different sources
        which in turn makes reconciliation of money and data seamless.
        Every Virtual Account belongs to a specific Financial Account and can be thought of as a gateway/door for money to flow into the Financial Account.
        Virtual Accounts are not separately ledgered which means you can't get the balance of a Virtual Account separately from the Financial Account.

        Virtual Accounts should be setup and managed through the Chariot Dashboard.
      operationId: getVirtualAccount
      tags:
        - virtualAccounts
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the virtual account
          required: true
          schema:
            type: string
          example: "va_01j8rs605a4gctmbm58d87mvsj"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VirtualAccount"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/donations:
    get:
      summary: List Donations
      description: |-
        List donations for your account.
      operationId: listDonations
      tags:
        - donations
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
          required: false
          schema:
            type: integer
            format: int32
        - name: page_token
          in: query
          description: The cursor to use for pagination. If not set, the first page of results will be returned.
          required: false
          schema:
            type: string
        - name: virtual_account_id
          in: query
          description: The unique identifier for the virtual accounts to filter donations by. Comma separated list of virtual account IDs.
          required: false
          schema:
            type: string
          example: "va_01j8rs605a4gctmbm58d87mvsj"
        - name: deposit_id
          in: query
          description: The unique identifier for the deposit to filter donations by.
          required: false
          schema:
            type: string
          example: "deposit_01j8rs605a4gctmbm58d87mvsj"
        - name: effective_date.after
          in: query
          description: Return donations with an effective date after the given date and time.
          required: false
          schema:
            type: string
            format: date-time
        - name: effective_date.before
          in: query
          description: Return donations with an effective date before the given date and time.
          required: false
          schema:
            type: string
            format: date-time
      responses:
        "200":
          $ref: "#/components/responses/ListDonationsResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/donations/{id}:
    get:
      summary: Get a Donation
      description: |-
        Get a donation by its unique identifier.
      operationId: getDonation
      tags:
        - donations
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the donation
          required: true
          schema:
            type: string
          example: "donation_01j8rs605a4gctmbm58d87mvsj"
      responses:
        "200":
          description: The donation was retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Donation"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
    patch:
      summary: Update a Donation
      description: |-
        Update a donation with the given ID.
        Use this endpoint to update core donation attributes like purpose, note and attribution.
        To update properties, use the Properties.assign endpoint.
      operationId: updateDonation
      tags:
        - donations
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the donation
          required: true
          schema:
            type: string
          example: "donation_01j8rs605a4gctmbm58d87mvsj"
      requestBody:
        $ref: "#/components/requestBodies/UpdateDonationRequest"
      responses:
        "202":
          $ref: "#/components/responses/UpdateDonationResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/deposits:
    get:
      summary: List Deposits
      description: |-
        List deposits for your account.
      operationId: listDeposits
      tags:
        - deposits
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
          required: false
          schema:
            type: integer
            format: int32
        - name: page_token
          in: query
          description: The cursor to use for pagination. If not set, the first page of results will be returned.
          required: false
          schema:
            type: string
        - name: virtual_account_id
          in: query
          description: The unique identifier for the virtual accounts to filter deposits by. Comma separated list of virtual account IDs.
          required: false
          schema:
            type: string
          example: "va_01j8rs605a4gctmbm58d87mvsj"
        - name: settled_at.after
          in: query
          description: Return deposits with a settled date and time after the given date and time.
          required: false
          schema:
            type: string
            format: date-time
        - name: settled_at.before
          in: query
          description: Return deposits with a settled date and time before the given date and time.
          required: false
          schema:
            type: string
            format: date-time
      responses:
        "200":
          $ref: "#/components/responses/ListDepositsResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/deposits/{id}:
    get:
      summary: Get a Deposit
      description: |-
        Get a deposit by its unique identifier.
      operationId: getDeposit
      tags:
        - deposits
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the deposit
          required: true
          schema:
            type: string
          example: "deposit_01j8rs605a4gctmbm58d87mvsj"
      responses:
        "200":
          description: The deposit was retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deposit"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/outbound_transfers:
    get:
      summary: List Outbound Transfers
      description: |-
        List outbound transfers for your account.
      operationId: listOutboundTransfers
      tags:
        - outboundTransfers
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
          required: false
          schema:
            type: integer
            format: int32
        - name: page_token
          in: query
          description: The cursor to use for pagination. If not set, the first page of results will be returned.
          required: false
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/ListOutboundTransfersResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
    post:
      summary: Create an Outbound Transfer
      description: |-
        Create an outbound transfer to transfer funds from a financial account
        to an external bank account.
        In Production, this requires that an external bank account has been setup
        and verified by the account owner through the Chariot Dashboard.
      operationId: createOutboundTransfer
      tags:
        - outboundTransfers
      security:
        - bearerAuth: []
      parameters:
        - name: Idempotency-Key
          in: header
          description: The idempotency key for the request
          required: false
          schema:
            type: string
      requestBody:
        $ref: "#/components/requestBodies/CreateOutboundTransferRequest"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OutboundTransfer"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/outbound_transfers/{id}:
    get:
      summary: Get an Outbound Transfer
      description: |-
        Get an outbound transfer by its unique identifier.
      operationId: getOutboundTransfer
      tags:
        - outboundTransfers
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the outbound transfer
          required: true
          schema:
            type: string
          example: "outbound_transfer_01j8rs605a4gctmbm58d87mvsj"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OutboundTransfer"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/properties:
    get:
      summary: List Properties
      description: |-
        List properties for your account.
      operationId: listProperties
      tags:
        - properties
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
          required: false
          schema:
            type: integer
            format: int32
        - name: page_token
          in: query
          description: The cursor to use for pagination. If not set, the first page of results will be returned.
          required: false
          schema:
            type: string
        - name: resource_type
          in: query
          description: The type of the resource that the properties are associated with.
          required: false
          schema:
            $ref: "#/components/schemas/ResourceType"
      responses:
        "200":
          $ref: "#/components/responses/ListPropertiesResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/properties/{id}:
    get:
      summary: Get a Property
      description: |-
        Get a property by its unique identifier.
      operationId: getProperty
      tags:
        - properties
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the property
          required: true
          schema:
            type: string
          example: "property_01j8rs605a4gctmbm58d87mvsj"
      responses:
        "200":
          description: The property was retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Property"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/properties/{id}/assign:
    post:
      summary: Assign a Property
      description: |-
        Appends a Property to one or more Donations or Deposits.
        A maximum of 100 resources can be assigned to a property at a time.
        The resource identifiers must be of the same resource_type as the Property, otherwise a 400 Bad Request error will be returned.
      operationId: assignProperty
      tags:
        - properties
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the property
          required: true
          schema:
            type: string
          example: "property_01j8rs605a4gctmbm58d87mvsj"
      requestBody:
        $ref: "#/components/requestBodies/AssignPropertyRequest"
      responses:
        "200":
          $ref: "#/components/responses/AssignPropertyResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/files:
    get:
      summary: List Files
      description: |-
        List files for your account.
      operationId: listFiles
      tags:
        - files
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
          required: false
          schema:
            type: integer
            format: int32
        - name: page_token
          in: query
          description: The cursor to use for pagination. If not set, the first page of results will be returned.
          required: false
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/ListFilesResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/files/{id}:
    get:
      summary: Get a File
      description: |-
        Get a file by its unique identifier.
      operationId: getFile
      tags:
        - files
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the file
          required: true
          schema:
            type: string
          example: "file_01j8rs605a4gctmbm58d87mvsj"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/File"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/file_links:
    post:
      summary: Create a File Link
      description: |-
        File Links let you generate a URL that can be used to download a File.
      operationId: createFileLink
      tags:
        - fileLinks
      security:
        - bearerAuth: []
      requestBody:
        $ref: "#/components/requestBodies/CreateFileLinkRequest"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileLink"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
components:
  schemas:
    OrganizationSummary:
      type: object
      description: |-
        A summary of an organization.
      required:
        - id
        - ein
        - name
      properties:
        id:
          type: string
          description: The unique identifier for the organization.
          example: org_01j8rs605a4gctmbm58d87mvsj
        ein:
          type: string
          description: The Employer Identification Number (EIN) or TaxID for the nonprofit entity.
          example: "123456789"
        name:
          type: string
          description: The name of the organization.
          example: American Red Cross
        daf_eligible:
          type: boolean
          description: Whether the organization is eligible to receive donations from a Donor Advised Fund.
          example: true
        city:
          type: string
          description: The city of the organization.
          example: New York
        state:
          type: string
          description: The state of the organization.
          example: NY
    Organization:
      type: object
      description: |-
        An `Organization` represents an operating nonprofit or an operating sub-organization of a parent or sponsoring nonprofit.
        The generally accepted identifier for an organization is its domain. This domain provides proof of identity, ownership and relationship to an entity.
        Organizations can receive payments from payers on the network.
      required:
        - id
        - ein
        - name
      properties:
        id:
          type: string
          readOnly: true
          description: The unique identifier for the object.
          example: org_01j8rs605a4gctmbm58d87mvsj
        ein:
          type: string
          description: The EIN of the organization.
          example: "123456789"
        name:
          type: string
          description: |-
            The name of the organization.
            For organizations that operate under a different name than the one tied to the legal entity,
            this name will differ from the name of the linked entity.
            This is also known as the "DBA" or "Doing Business As" name of the organization.
          example: American Red Cross
        parent_organization_id:
          type: string
          description: |-
            The unique identifier of the parent organization, if this is a sponsored organization.
            This value is `null` or empty if the organization is not sponsored or not a child of a parent organization.
          example: org_01j8rs605a4gctmbm58d87mvsk
        physical_address:
          $ref: "#/components/schemas/Address"
        classification:
          $ref: "#/components/schemas/NonprofitClassification"
        compliance:
          $ref: "#/components/schemas/NonprofitCompliance"
        mission_statement:
          type: string
          description: The mission statement of the organization
          example: To provide relief to those in need
        web:
          $ref: "#/components/schemas/WebDomain"
        brand:
          $ref: "#/components/schemas/Brand"
        officers:
          type: array
          description: The list of officers of the organization
          items:
            $ref: "#/components/schemas/Person"
        claimed:
          type: boolean
          readOnly: true
          description: |-
            A flag to indicate if the nonprofit has been claimed by a user.
            A nonprofit is claimed if a user signs up for a Chariot account with
            this nonprofit and is verified by the Chariot team.
    NonprofitClassification:
      type: object
      description: |-
        A classification of the nonprofit entity as defined by the IRS.
      properties:
        group_exemption_number:
          type: string
          description: This is a four-digit internal IRS number assigned to central/parent entity holding group exemption letters.
        subsection_code:
          $ref: "#/components/schemas/TaxExemptCode"
        filing_requirement_code:
          $ref: "#/components/schemas/TaxExemptCode"
        foundation_code:
          $ref: "#/components/schemas/TaxExemptCode"
        affiliation_code:
          $ref: "#/components/schemas/TaxExemptCode"
        organization_code:
          $ref: "#/components/schemas/TaxExemptCode"
        exempt_status_code:
          $ref: "#/components/schemas/TaxExemptCode"
        deductibility_code:
          $ref: "#/components/schemas/TaxExemptCode"
        ntee_code:
          $ref: "#/components/schemas/NteeCode"
        naics_code:
          $ref: "#/components/schemas/NaicsCode"
    NonprofitCompliance:
      type: object
      description: |-
        An object that contains legal information about the nonprofit entity and its tax-exemption status.
        This information is used to comply with regulations and ensure the legitimacy of the nonprofit for purposes of donations and disbursements.
      properties:
        daf_eligible:
          type: boolean
          description: Whether the entity is eligible to receive donations from a Donor Advised Fund
          example: true
        irs_pub_78:
          $ref: "#/components/schemas/ComplianceRequirement"
        ofac:
          $ref: "#/components/schemas/ComplianceRequirement"
        foundation_code:
          $ref: "#/components/schemas/ComplianceRequirement"
        california_attorney_general_registry:
          $ref: "#/components/schemas/ComplianceRequirement"
        california_franchise_tax_board:
          $ref: "#/components/schemas/ComplianceRequirement"
    Person:
      type: object
      description: |-
        A person is an individual who is an officer of a nonprofit.
      required:
        - name
      properties:
        name:
          type: string
          description: The full name of the person
        title:
          type: string
          description: The title or role of the person with respect to the nonprofit entity
          example: Executive Director
    TaxExemptCode:
      type: object
      description: |-
        A tax exempt code is a code that is used to classify the tax-exempt status of a nonprofit entity.
      required:
        - name
        - code
      properties:
        code:
          type: integer
          description: The code of the tax exempt code
          example: 1
        name:
          type: string
          description: The name of the tax exempt code
          example: "UNCONDITIONAL"
        description:
          type: string
          description: The description of the tax exempt code
          example: "Unconditional Exemption"
    NteeCode:
      type: object
      description: |-
        A code that is used to classify the nonprofit entity as defined by the IRS.
      required:
        - code
        - description
      properties:
        code:
          type: string
          description: The code of the NTEE code
          example: "A"
        description:
          type: string
          description: The description of the NTEE code
          example: "Animal Welfare"
        parent_code:
          type: string
          description: The parent code of the NTEE code
          example: "A"
        parent_description:
          type: string
          description: The description of the parent NTEE code
          example: "Animal Welfare"
    NaicsCode:
      type: object
      description: |-
        A code that is used to classify the nonprofit entity as defined by the NAICS.
      properties:
        naics2:
          type: string
          description: The code of the NAICS code
          example: "31"
        naics2_description:
          type: string
          description: The description of the NAICS code
          example: "Manufacturing"
        naics4:
          type: string
          description: The code of the NAICS code
          example: "3112"
        naics4_description:
          type: string
          description: The description of the NAICS code
          example: "Grain and Oilseed Milling"
        naics6:
          type: string
          description: The code of the NAICS code
          example: "311221"
        naics6_description:
          type: string
          description: The description of the NAICS code
          example: "Wet Corn Milling and Starch Manufacturing"
    ComplianceRequirement:
      type: object
      description: |-
        A compliance requirement is a requirement that a nonprofit entity must meet in order to be eligible for Chariot services.
      properties:
        compliant:
          type: boolean
          description: Whether the entity is compliant with the requirement
          example: true
        reason:
          type: string
          description: The reason for the compliance requirement
        last_found_at:
          type: string
          format: date-time
          description: The date and time when the compliance requirement was last found
          example: "2020-01-31T23:00:00Z"
    WebDomain:
      type: object
      description: |-
        A web domain is a unique identifier for a website or web application that is associated with an organization.
        Domains are important identity constructs that underpin the web and online interactions.
        The domain can be used as an identifier and its validity can be asserted via DNS.
      required:
        - domain
      properties:
        domain:
          type: string
          description: The DNS domain name
          example: "redcross.org"
    Brand:
      type: object
      description: |-
        Fair use brand assets that are associated with an organization and can be used for identification and informational purposes.
      properties:
        icon_url:
          type: string
          description: The URL of the organization's icon
        logo_url:
          type: string
          description: The URL of the organization's logo
    VirtualAccount:
      type: object
      description: |-
        A Virtual Account represents a segregated address for incoming deposits.
        In practice, this can be separate electronic bank addresses (account + routing numbers) or physical mailing addresses (lockboxes).
        Virtual Accounts make it easy to independently manage and consolidate incoming payments and donations from different sources
        which in turn makes reconciliation of money and data seamless.
        Every Virtual Account belongs to a specific Financial Account and can be thought of as a gateway/door for money to flow into the Financial Account.
        Virtual Accounts are not separately ledgered which means you can't get the balance of a Virtual Account separately from the Financial Account.
      properties:
        id:
          type: string
          readOnly: true
          description: The unique identifier for the virtual account
          example: "va_01j8rs605a4gctmbm58d87mvsj"
        financial_account_id:
          type: string
          description: The unique identifier for the financial account that the virtual account belongs to
          example: "fa_01j8rs605a4gctmbm58d87mvsj"
        name:
          type: string
          description: The name of the virtual account
          example: "Main Virtual Account"
        account_type:
          type: string
          description: The type of the virtual account
          example: "connected_account"
          enum:
            - manual
            - connected_account
            - lockbox
            - grantmaker
        financial_address:
          $ref: "#/components/schemas/FinancialAddress"
        lockbox:
          $ref: "#/components/schemas/Lockbox"
        created_at:
          type: string
          format: date-time
          readOnly: true
          description: The date and time when the virtual account was created
          example: "2020-01-31T23:59:59Z"
        updated_at:
          type: string
          format: date-time
          readOnly: true
          description: The date and time when the virtual account was last updated
          example: "2020-01-31T23:59:59Z"
    Lockbox:
      type: object
      description: |-
        A US mailing address to process incoming physical mail and checks.
        This is only available for lockbox virtual accounts.
      properties:
        address:
          $ref: "#/components/schemas/PostalAddress"
    FinancialAddress:
      type: object
      description: |-
        A subhash containing information about the electronic bank address payment rail details.
        This is only available for manual and connected_account virtual accounts.
      properties:
        ach:
          $ref: "#/components/schemas/AchAddress"
    AchAddress:
      type: object
      description: |-
        A subhash containing information about the electronic bank address payment rail details.
      required:
        - institution_name
        - account_number
        - routing_number
      properties:
        account_number:
          type: string
          description: The account number of that uniquely identifies the account at the institution
          example: "987654321"
        routing_number:
          type: string
          description: The American Bankers' Association (ABA) Routing Transit Number (RTN) for the destination account.
          example: "101050001"
    Donation:
      type: object
      description: |-
        A Donation is a gift of money to a nonprofit organization.
      required:
        - id
        - virtual_account_id
        - amount_gross
        - amount_net
        - amount_fee
        - currency
        - purpose
        - note
        - effective_date
      properties:
        id:
          type: string
          readOnly: true
          description: The unique identifier for the donation
          example: donation_01j8rs605a4gctmbm58d87mvsj
        virtual_account_id:
          type: string
          description: |-
            The unique identifier for the virtual account used to segregate deposits between various DAFs and platforms.
          example: va_01kew60ks7w0epkvp2bgqxrt8z
        amount_gross:
          type: integer
          format: int64
          description: |-
            The original amount of the donation as intended by the donor in minor units of the currency.
            For dollars, for example, this is cents.
        amount_net:
          type: integer
          format: int64
          description: |-
            The amount of the donation that the nonprofit will receive after DAF and/or 
            platform processing fees are deducted in minor units of the currency.
            For dollars, for example, this is cents.
        amount_fee:
          type: integer
          format: int64
          description: |-
            The amount of the fee that was deducted by the DAF or processing platform from the donation in minor units of the currency.
            For dollars, for example, this is cents.
        currency:
          type: string
          description: The [ISO 4217 code](https://en.wikipedia.org/wiki/ISO_4217) for the Transaction's currency.
          example: USD
        purpose:
          type: string
          description: |-
            A description of the donor's intent for the donation.
            This is useful to understand how the donor intended the donation to be used.
            For example, "Where needed most" or "General Operating Support" or "Specific Campaign".
          example: "Where needed most"
        note:
          type: string
          description: |-
            An informational note from the donor to the nonprofit about the donation.
            This may contain a message or other useful information that the donor wants to share with the nonprofit.
          example: "Please dedicate in memory of grandma"
        effective_date:
          type: string
          format: date-time
          description: The date and time of the donation as listed by the DAF and/or platform.
          example: "2020-01-31T23:59:59Z"
        attribution:
          type: object
          description: |-
            A subhash containing information about how the donation is attributed.
          $ref: "#/components/schemas/DonationAttribution"
        initiation:
          type: object
          description: A subhash containing information about how the donation was initiated by DAFpay.
          $ref: "#/components/schemas/DonationInitiation"
        settlement:
          type: object
          description: A subhash containing information about how the donation was settled by Chariot.
          $ref: "#/components/schemas/DonationSettlement"
        donor_advised_fund_grant:
          type: object
          description: A subhash containing information about the grant from a Donor-Advised Fund sponsor.
          $ref: "#/components/schemas/DafGrant"
        platform:
          type: object
          description: |-
            A subhash containing information about the platform that facilitated the donation.
            If this is empty, then the donation was not facilitated by a platform.
          $ref: "#/components/schemas/Platform"
        corporate_match:
          type: object
          description: |-
            A subhash containing information about the corporate match for the donation.
[...]
