openapi: 3.0.0
info:
  title: Chariot API
  version: "v1"
  description: The Chariot REST API. Please see https://docs.givechariot.com/api for more details.
  contact:
    name: Chariot Development Team
    url: https://givechariot.com/contact
    email: developers@givechariot.com
  termsOfService: https://givechariot.com/legal-nonprofit
servers:
  - url: https://sandboxapi.givechariot.com
    description: Sandbox
  - url: https://api.givechariot.com
    description: Production
paths:
  /v1/organizations/search:
    get:
      summary: Search organizations
      description: |-
        Search for organizations by name or EIN.
        This endpoint exists to support a typeahead search or quick lookup by nonprofit EIN or name.
        The Get Organization API should be used to retrieve detailed information about an organization.
      operationId: searchOrganizations
      tags:
        - Organizations
      security:
        - bearerAuth: []
      parameters:
        - name: q
          in: query
          required: true
          description: |-
            The query string to search for. If this is in the format of an EIN, the search will be limited exclusively to the organization with that EIN. Otherwise, this will be a fuzzy search on organization name.
          schema:
            type: string
        - name: ein
          in: query
          description: |-
            The Employer Identification Number (EIN) or TaxID for the nonprofit entity. This is deprecated in favor of the `q` parameter.
          schema:
            type: string
          deprecated: true
        - name: name
          in: query
          description: |-
            The name of the organization. This is deprecated in favor of the `q` parameter.
          schema:
            type: string
          deprecated: true
        - name: limit
          in: query
          description: Limit the size of the list that is returned. The default (and maximum) is 20 objects.
          required: false
          schema:
            type: integer
            format: int32
      responses:
        "200":
          $ref: "#/components/responses/SearchOrganizationsResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/organizations/{id}:
    get:
      summary: Get organization
      description: |-
        Retrieves the organization with the given ID.
      operationId: getOrganization
      tags:
        - Organizations
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the organization
          schema:
            type: string
          required: true
          example: "org_1LaXpKGUcADgqoEMl0Cx0Ygg"
      responses:
        "200":
          description: "OK"
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Organization"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/programs:
    get:
      summary: List Programs
      description: |-
        Returns a list of all programs for your Chariot account.
      operationId: list-programs
      tags:
        - Programs
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          description: Number of results per page. The default (and maximum) is 100 objects.
          required: false
          schema:
            type: integer
            format: int32
        - name: cursor
          in: query
          description: |-
            Cursor token for pagination. Use the next_page_token from the previous response to retrieve the next page of results.
          required: false
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/ListProgramsResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/programs/{id}:
    get:
      summary: Get Program
      description: |-
        Retrieves the program with the given ID.
      operationId: get-program
      tags:
        - Programs
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the program
          schema:
            type: string
          required: true
          example: "program_01j8rs605a4gctmbm58d87mvsj"
      responses:
        "200":
          description: OK
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Program"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/connects:
    post:
      summary: Create Connect
      description: |-
        Get an existing connect or create a new connect for an existing nonprofit organization.

        The returned Connect can be used to integrate the client-side Chariot Connect component using the `id` property (CID) and also query for data generated from the Chariot Connect instance using the connect_id query parameter in any of the List Grants API endpoints.

        <Note>
        Only one Connect object can be created per organization.
        If one already exists, this will return a `200 OK` status with the existing object.
        </Note>
      operationId: create-connect
      tags:
        - Connects
      security:
        - bearerAuth: []
      requestBody:
        $ref: "#/components/requestBodies/CreateConnectRequest"
      responses:
        "200":
          description: OK
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            Location:
              $ref: "#/components/headers/Location"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Connect"
              examples:
                Simple:
                  $ref: "#/components/examples/ConnectOutput"
        "201":
          description: Created
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            Location:
              $ref: "#/components/headers/Location"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Connect"
              examples:
                Simple:
                  $ref: "#/components/examples/ConnectOutput"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/connects/{id}:
    get:
      summary: Get Connect
      description: |-
        Retrieve a connect with the given ID.
      operationId: get-connect
      tags:
        - Connects
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: the unique id of the connect
          schema:
            type: string
          required: true
          example: live_xJd0lUrvpDkzeGBWZbuI2wbvEdM
      responses:
        "200":
          description: "OK"
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Connect"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/grants:
    get:
      summary: List Grants
      description: |-
        Returns a list of all grants for a given Connect. This API allows for paginating over many results.
      operationId: list-grants
      tags:
        - Grants
      security:
        - bearerAuth: []
      parameters:
        - name: connect_id
          in: query
          description: the `id` of the Connect object. This can be used to filter the grants by a specific Connect if you have more than one.
          schema:
            type: string
          required: false
          example: "live_2d821da0ed8bc7256e260f4eb5244f2d8f06c576342f922ba2f0a416d8c98002"
        - name: pageLimit
          in: query
          description: the number of results to return; defaults to 10, max is 100
          schema:
            type: integer
            default: 10
        - name: pageToken
          in: query
          description: |-
            A token to use to retrieve the next page of results. This is useful for paginating over many pages of results. If set, all other arguments are expected to be kept the same as previous calls and the value of this field should be from the nextPageToken in the previous response.
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/ListGrantsResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
    post:
      summary: Create Grant
      description: |-
        Create and submit a new grant. This should be used to capture a grant intent from an authorized DAFpay workflow session and submit the grant request to the DAF sponsor.
        On initial creation of the grant, this request will return a 201 Created status. On subsequent requests, the request will return status 200 OK.

        <Warning>
        Error handling:
        - The grant must be captured within 15 minutes of authorization otherwise the request will return status `410 Gone`.
        - If this request is submitted while this grant is already being processed, the request will return status `409 Conflict`.
        - The amount must be in whole dollar increments (rounded to the nearest hundred) as currently DAFs only accept whole dollar grants otherwise the request will return status `400 Bad Request`.
        - The amount must be greater than or equal to the minimum grant amount for the DAF otherwise the request will return status `400 Bad Request`.
        - The amount must be less than or equal to the user's DAF account balance otherwise the request will return status `400 Bad Request`.
        - Any inputs exceeding the maximum allowed length will be automatically truncated.
        </Warning>
      operationId: create-grant
      tags:
        - Grants
      security:
        - bearerAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GrantCaptureRequest"
      responses:
        "201":
          description: Created
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            Location:
              description: The URI reference of the created grant object.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Grant"
              examples:
                Simple:
                  $ref: "#/components/examples/GrantOutput"
        "200":
          description: The grant
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Grant"
              examples:
                Simple:
                  $ref: "#/components/examples/GrantOutput"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "410":
          $ref: "#/components/responses/GoneError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/grants/{id}:
    get:
      summary: Get Grant
      description: |-
        Retrieve a grant with the given ID.
      operationId: get-grant
      tags:
        - Grants
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: |-
            The unique id of the grant.
            The format should be a v4 UUID according to RFC 4122.
          schema:
            type: string
            format: uuid
          required: true
          example: 10229488-08d2-4629-b70c-a2f4f4d25344
      responses:
        "200":
          description: OK
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Grant"
              examples:
                Simple:
                  $ref: "#/components/examples/GrantOutput"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/recurring_grants:
    get:
      summary: List Recurring Grants
      description: |-
        Returns a list of all recurring grants for a given Connect. This API allows for paginating over many results.
      operationId: list-recurring-grants
      tags:
        - recurring_grants
      security:
        - bearerAuth: []
      parameters:
        - name: connect_id
          in: query
          description: the `id` of the Connect object. This can be used to filter the recurring grants by a specific Connect if you have more than one.
          schema:
            type: string
          required: false
          example: "live_2d821da0ed8bc7256e260f4eb5244f2d8f06c576342f922ba2f0a416d8c98002"
        - name: pageLimit
          in: query
          description: the number of results to return; defaults to 10, max is 100
          schema:
            type: integer
            default: 10
        - name: pageToken
          in: query
          description: |-
            A token to use to retrieve the next page of results. This is useful for paginating over many pages of results. If set, all other arguments are expected to be kept the same as previous calls and the value of this field should be from the nextPageToken in the previous response.
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/ListRecurringGrantsResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
    post:
      summary: Create Recurring Grant
      description: |-
        Create and submit a new recurring grant. This should be used to capture a recurring grant intent from an authorized DAFpay workflow session and submit the recurring grant request to the DAF sponsor.

        <Warning>
        Error handling:
        - The recurring grant must be captured within 15 minutes of authorization otherwise the request will return status `410 Gone`.
        - A recurring grant can only be captured once from any given workflow session so any duplicate requests will return status `409 Conflict`.
        - The amount must be in whole dollar increments (rounded to the nearest hundred) as currently DAFs only accept whole dollar grants otherwise the request will return status `400 Bad Request`.
        - The amount must be greater than or equal to the minimum grant amount for the DAF otherwise the request will return status `400 Bad Request`.
        - The amount must be less than or equal to the user's DAF account balance otherwise the request will return status `400 Bad Request`.
        - Any inputs exceeding the maximum allowed length will be automatically truncated unless otherwise stated.
        </Warning>
      operationId: create-recurring-grant
      tags:
        - recurring_grants
      security:
        - bearerAuth: []
      requestBody:
        $ref: "#/components/requestBodies/RecurringGrantCaptureRequest"
      responses:
        "201":
          description: Created recurring grant
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            Location:
              description: The URI reference of the created recurring grant object.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecurringGrant"
              examples:
                Simple:
                  $ref: "#/components/examples/RecurringGrantOutput"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "410":
          $ref: "#/components/responses/GoneError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/recurring_grants/{id}:
    get:
      summary: Get Recurring Grant
      description: |-
        Retrieve a recurring grant with a given ID.
      operationId: get-recurring-grant
      tags:
        - recurring_grants
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: |-
            The unique id of the recurring grant.
            The format should be a v4 UUID according to RFC 4122.
          schema:
            type: string
            format: uuid
          required: true
          example: 10229488-08d2-4629-b70c-a2f4f4d25344
      responses:
        "200":
          description: OK
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecurringGrant"
              examples:
                Simple:
                  $ref: "#/components/examples/RecurringGrantOutput"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/unintegrated_grants:
    get:
      summary: List Unintegrated Grants
      description: |-
        Returns a list of all unintegrated grants for a given Connect. This API allows for paginating over many results.
      operationId: list-unintegrated-grants
      tags:
        - unintegrated_grants
      security:
        - bearerAuth: []
      parameters:
        - name: connect_id
          in: query
          description: the `id` of the Connect object. This can be used to filter the unintegrated grants by a specific Connect if you have more than one.
          schema:
            type: string
          required: false
          example: "live_2d821da0ed8bc7256e260f4eb5244f2d8f06c576342f922ba2f0a416d8c98002"
        - name: pageLimit
          in: query
          description: the number of results to return; defaults to 10, max is 100
          schema:
            type: integer
            default: 10
        - name: pageToken
          in: query
          description: |-
            A token to use to retrieve the next page of results. This is useful for paginating over many pages of results. If set, all other arguments are expected to be kept the same as previous calls and the value of this field should be from the nextPageToken in the previous response.
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/ListUnintegratedGrantsResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/unintegrated_grants/{id}:
    get:
      summary: Get Unintegrated Grant
      description: |-
        Retrieve an unintegrated grant with a given ID.
      operationId: get-unintegrated-grant
      tags:
        - unintegrated_grants
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: |-
            The unique id of the unintegrated grant.
            The format should be a v4 UUID according to RFC 4122.
          schema:
            type: string
            format: uuid
          required: true
          example: 10229488-08d2-4629-b70c-a2f4f4d25344
      responses:
        "200":
          description: OK
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnintegratedGrant"
              examples:
                Simple:
                  $ref: "#/components/examples/UnintegratedGrantOutput"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/dafs:
    get:
      summary: List Donor Advised Funds
      description: |-
        Returns a list of all Donor Advised Funds within Chariot's system. This API allows for paginating over many results.

        <Note>
        If there are DAFs missing from the list, please contact support at support@givechariot.com.
        </Note>
      operationId: list-dafs
      tags:
        - Donor Advised Funds
      security:
        - bearerAuth: []
      parameters:
        - name: supportedOnly
          in: query
          description: |-
            If set to true, filters DAFs to only those that have a direct integration with Chariot.
          schema:
            type: boolean
            default: false
        - name: query
          in: query
          description: |-
            If included, filters DAFs to only those that contain the query. This parameter is case insensitive.
          schema:
            type: string
        - name: pageLimit
          in: query
          description: the number of results to return; defaults to 10, max is 100
          schema:
            type: integer
            default: 10
        - name: pageToken
          in: query
          description: |-
            A token to use to retrieve the next page of results. This is useful for paginating over many pages of results. If set, all other arguments are expected to be kept the same as previous calls.
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/ListDafsResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/dafs/{id}:
    get:
      summary: Get Donor Advised Fund
      description: |-
        Retrieve a DAF with a given ID.
      operationId: get-daf
      tags:
        - Donor Advised Funds
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: |-
            The unique id of the DAF.
            The format should be a v4 UUID according to RFC 4122.
          schema:
            type: string
            format: uuid
          required: true
          example: f9e28217-e0f7-4a54-9764-d664ffb10722
      responses:
        "200":
          description: "OK"
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Daf"
              examples:
                Npt:
                  $ref: "#/components/examples/DafOutput"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/events:
    get:
      summary: List Events
      description: |-
        List all events corresponding to your Chariot account.
      operationId: listEvents
      tags:
        - Events
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
          required: false
          schema:
            type: integer
            format: int32
        - name: cursor
          in: query
          description: The cursor to use for pagination. If not set, the first page of results will be returned.
          required: false
          schema:
            type: string
        - name: category
          in: query
          description: |
            Filter Events for those with the specified category.
          required: false
          schema:
            $ref: "#/components/schemas/EventCategory"
      responses:
        "200":
          $ref: "#/components/responses/ListEventsResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/events/{id}:
    get:
      summary: Get Event
      description: |-
        Retrieve an event with the given ID.
      operationId: getEvent
      tags:
        - Events
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique id for the event
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Event"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/event_subscriptions:
    post:
      summary: Create an Event Subscription
      description: |-
        Create an event subscription corresponding to your Chariot account.
      operationId: createEventSubscription
      tags:
        - Event Subscriptions
      security:
        - bearerAuth: []
      requestBody:
        $ref: "#/components/requestBodies/CreateEventSubscriptionRequest"
      responses:
        "201":
          description: Created
          headers:
            Location:
              $ref: "#/components/headers/Location"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventSubscription"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
    get:
      summary: List Event Subscriptions
      description: |-
        List all event subscriptions corresponding to your Chariot account.
      operationId: listEventSubscriptions
      tags:
        - Event Subscriptions
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
          required: false
          schema:
            type: integer
            format: int32
        - name: cursor
          in: query
          description: The cursor to use for pagination. If not set, the first page of results will be returned.
          required: false
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/ListEventSubscriptionsResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/event_subscriptions/{id}:
    get:
      summary: Get an Event Subscription
      description: |-
        Retrieve an event subscription with the given ID.
      operationId: getEventSubscription
      tags:
        - Event Subscriptions
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the event subscription
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventSubscription"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
    patch:
      summary: Update an Event Subscription
      description: |-
        Update an event subscription with the given ID.
      operationId: updateEventSubscription
      tags:
        - Event Subscriptions
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the event subscription
          required: true
          schema:
            type: string
      requestBody:
        $ref: "#/components/requestBodies/UpdateEventSubscriptionRequest"
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventSubscription"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/financial_accounts:
    get:
      summary: List financial accounts
      description: |
        Returns a list of financial accounts.
      operationId: listFinancialAccounts
      tags:
        - financial_accounts
      parameters:
        - name: program_id
          in: query
          description: The unique identifier for the program
          required: false
          schema:
            type: string
          example: "program_01jpjenf5q6cawy43yxfcrxhct"
        - name: page_limit
          in: query
          description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
          required: false
          schema:
            type: integer
            format: int32
        - name: next_page_token
          in: query
          description: |-
            A token to use to retrieve the next page of results. This is useful for paginating over many pages of results. If set, all other arguments are expected to be kept the same as previous calls and the value of this field should be from the nextPageToken in the previous response.
          required: false
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        "200":
          $ref: "#/components/responses/ListFinancialAccountsResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/financial_accounts/{id}:
    get:
      summary: Get a financial account
      description: |
        Get a financial account by its unique identifier.
      operationId: getFinancialAccount
      tags:
        - financial_accounts
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the financial account
          required: true
          schema:
            type: string
          example: "account_01jpjenf5q6cawy43yxfcrxhct"
      responses:
        "200":
          description: The financial account was retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FinancialAccount"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/financial_accounts/{id}/balance:
    get:
      summary: Get a financial account balance
      description: |
        Get a financial account balance by its unique identifier.
      operationId: getFinancialAccountBalance
      tags:
        - financial_accounts
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the financial account
          required: true
          schema:
            type: string
          example: "account_01jpjenf5q6cawy43yxfcrxhct"
      responses:
        "200":
          description: The financial account was retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FinancialAccountBalance"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/disbursements:
    post:
      summary: Create a disbursement
      description: |
        Create a disbursement to send money to an organization.
        
        If the program specified does not have grant_disbursement_status enabled
        or if no grant_disbursement_status enabled program exists for your account, this will return a 403 Forbidden error.
        If your Chariot account has multiple grant_disbursement_status enabled programs, you must specify the program_id to use for the disbursement
        otherwise the request will return a 400 Bad Request error.
      operationId: createDisbursement
      tags:
        - disbursements
      security:
        - bearerAuth: []
      requestBody:
        $ref: "#/components/requestBodies/CreateDisbursementRequest"
      responses:
        "201":
          description: The disbursement was created
          headers:
            Location:
              $ref: "#/components/headers/Location"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Disbursement"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "409":
          $ref: "#/components/responses/ConflictError"
    get:
      summary: List disbursements
      description: |
        Returns a list of disbursements.
      operationId: listDisbursements
      tags:
        - disbursements
      security:
        - bearerAuth: []
      parameters:
        - name: organization_id
          in: query
          description: The unique identifier for the recipient organization
          required: false
          schema:
            type: string
          example: "org_01j8rs605a4gctmbm58d87mvsj"
        - name: program_id
          in: query
          description: The unique identifier for the program
          required: false
          schema:
            type: string
          example: "program_01jpjenf5q6cawy43yxfcrxhct"
        - name: page_limit
          in: query
          description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
          required: false
          schema:
            type: integer
            format: int32
        - name: next_page_token
          in: query
          description: |-
            A token to use to retrieve the next page of results. This is useful for paginating over many pages of results. If set, all other arguments are expected to be kept the same as previous calls and the value of this field should be from the nextPageToken in the previous response.
          required: false
          schema:
            type: string
        - name: includes
          in: query
          description: |-
            A comma separated list of fields to include in the response.
            Possible values include:
              - `organization`: Include the organization object in the response.
          required: false
          schema:
            type: string
            example: "organization"
      responses:
        "200":
          $ref: "#/components/responses/ListDisbursementsResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/disbursements/bulk:
    post:
      summary: Create multiple disbursements
      description: |
        Create multiple disbursements in a single request.
        This is useful for batch operations where you need to create many disbursements at once.

        All disbursements in the request will be created together. If any disbursement fails validation,
        the entire request will fail and no disbursements will be created.

        If any of the disbursements in the request have a program specified that does not have grant_disbursement_status enabled
        or if no grant_disbursement_status enabled program exists for your account, the request will return a 403 Forbidden error.
        If your Chariot account has multiple grant_disbursement_status enabled programs, you must specify the program_id to use for the disbursements
        otherwise the request will return a 400 Bad Request error.
      operationId: bulkCreateDisbursements
      tags:
        - disbursements
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - disbursements
              properties:
                disbursements:
                  type: array
                  description: Array of disbursements to create
                  minItems: 1
                  items:
                    $ref: "#/components/schemas/CreateDisbursementInput"
      responses:
        "201":
          description: The disbursements were created
          content:
            application/json:
              schema:
                type: object
                required:
                  - disbursements
                  - count
                properties:
                  disbursements:
                    type: array
                    items:
                      $ref: "#/components/schemas/Disbursement"
                  count:
                    type: integer
                    description: The number of disbursements created
                    example: 5
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "409":
          $ref: "#/components/responses/ConflictError"
  /v1/disbursements/{id}:
    get:
      summary: Get a disbursement
      description: |
        Get a disbursement by its unique identifier.
      operationId: getDisbursement
      tags:
        - disbursements
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the disbursement
          required: true
          schema:
            type: string
          example: "disbursement_01jpjen1s23s29kkmnjsb6fzga"
      responses:
        "200":
          description: The disbursement was retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Disbursement"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/disbursements/{id}/approve:
    post:
      summary: Approve a disbursement
      description: |
        Approve a disbursement in a pending_approval state.
        If the disbursement is in a different state, this will return a 400 error.
      operationId: approveDisbursement
      tags:
        - disbursements
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the disbursement
          required: true
          schema:
            type: string
          example: "disbursement_01jpjen1s23s29kkmnjsb6fzga"
      responses:
        "200":
          description: The disbursement was approved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Disbursement"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/disbursements/approve:
    post:
      summary: Approve multiple disbursements
      description: |
        Approve multiple disbursements in a single request.
        This is useful for batch approval operations.

        All disbursements must be in the `pending_approval` state. If any disbursement
        cannot be approved, the entire request will fail and no disbursements will be approved.
      operationId: bulkApproveDisbursements
      tags:
        - disbursements
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - disbursement_ids
              properties:
                disbursement_ids:
                  type: array
                  description: Array of disbursement IDs to approve
                  minItems: 1
                  items:
                    type: string
                    example: "disbursement_01jpjen1s23s29kkmnjsb6fzga"
      responses:
        "200":
          description: The disbursements were approved
          content:
            application/json:
              schema:
                type: object
                required:
                  - disbursements
                  - count
                properties:
                  disbursements:
                    type: array
                    items:
                      $ref: "#/components/schemas/Disbursement"
                  count:
                    type: integer
                    description: The number of disbursements approved
                    example: 5
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/disbursements/{id}/cancel:
    post:
      summary: Cancel a pending disbursement
      description: |
        Cancel a pending disbursement in a pending_approval state.
        If the disbursement is in a different state, this will return a 400 error.
      operationId: cancelDisbursement
      tags:
        - disbursements
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the disbursement
          required: true
          schema:
            type: string
          example: "disbursement_01jpjen1s23s29kkmnjsb6fzga"
      responses:
        "200":
          description: The disbursement was canceled
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Disbursement"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/disbursements/{id}/stop:
    post:
      summary: Stop payment for a disbursement
      description: |
        Stop payment for a disbursement sent via check.

        This prevents the recipient from depositing the check. If the check has already been deposited, the stop payment request will fail.

        **Requirements:**
        - Disbursement must be in `submitted` status
        - Disbursement must be sent via check
        - Check must not have already been deposited

        After successfully stopping payment, the disbursement status will be updated to `stopped`.
      operationId: stopDisbursement
      tags:
        - disbursements
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the disbursement
          required: true
          schema:
            type: string
          example: "disbursement_01jpjen1s23s29kkmnjsb6fzga"
      requestBody:
        $ref: "#/components/requestBodies/StopDisbursementRequest"
      responses:
        "202":
          description: The stop payment request was accepted
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/simulations/disbursements/{id}/complete:
    post:
      summary: "Sandbox: Complete a disbursement"
      description: |
        Simulates successful disbursement completion for testing purposes.
        The disbursement must have a status of `submitted`.

        After calling this endpoint, the disbursement status will be updated to `completed`.

        <Note title="Sandbox Only" icon="fa-light fa-atom-simple">
        This API is only available in the sandbox environment.
        </Note>
      operationId: simulateDisbursementCompletion
      tags:
        - disbursements
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the disbursement
          required: true
          schema:
            type: string
          example: "disbursement_01jpjen1s23s29kkmnjsb6fzga"
      responses:
        "202":
          description: The disbursement completion request was accepted
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/simulations/disbursements/{id}/fail:
    post:
      summary: "Sandbox: Fail a disbursement"
      description: |
        Simulates a payment failure or return for testing purposes.
        The disbursement must have a status of `submitted`.
        This only applies for disbursements sent via ACH or check.

        - **ACH disbursements**: Status becomes `failed` (payment was returned and cannot be retried)
        - **Check disbursements**: Status becomes `validating_organization` (check was returned). When this happens, Chariot will investigate why the check failed to reach the organization, update any required recipient information (such as mailing address or organization contact details), and automatically reattempt payout once the issue is resolved.

        <Note title="Sandbox Only" icon="fa-light fa-atom-simple">
        This API is only available in the sandbox environment.
        </Note>
      operationId: simulateDisbursementFailure
      tags:
        - disbursements
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the disbursement
          required: true
          schema:
            type: string
          example: "disbursement_01jpjen1s23s29kkmnjsb6fzga"
      responses:
        "202":
          description: The disbursement failure simulation was accepted
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/inbound_transfers:
    post:
      summary: Create an Inbound transfer
      description: |-
        Create an inbound transfer to fund your financial account
        from an externally linked bank account.
        In Production, this requires that an external bank account has been setup
        and verified for your account through the Chariot Dashboard.

        **Settlement timing:** ACH debits typically take 3-4 business days to settle.
        Once the transfer completes, the funds are added to the financial account's available balance
        and can be used to fund disbursements. Funds are not earmarked for any specific disbursement;
        they increase the shared balance pool.

        For funding best practices, see the [Flow of Funds](/guides/disbursements/flow-of-funds) guide.
      operationId: createInboundTransfer
      tags:
        - inboundTransfers
      security:
        - bearerAuth: []
      parameters:
        - name: Idempotency-Key
          in: header
          description: The idempotency key for the request
          required: false
          schema:
            type: string
      requestBody:
        $ref: "#/components/requestBodies/CreateInboundTransferRequest"
      responses:
        "201":
          description: The inbound transfer was created
          headers:
            Location:
              $ref: "#/components/headers/Location"
            Idempotency-Key:
              $ref: "#/components/headers/Idempotency-Key"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InboundTransfer"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "500":
          $ref: "#/components/responses/InternalServerError"
    get:
      summary: List Inbound Transfers
      description: |-
        List inbound transfers for your account.
      operationId: listInboundTransfers
      tags:
        - inboundTransfers
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
          required: false
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: The cursor to use for pagination. If not set, the first page of results will be returned.
          required: false
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/ListInboundTransfersResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/inbound_transfers/{id}:
    get:
      summary: Get an Inbound Transfer
      description: |-
        Get an inbound transfer by its unique identifier.
      operationId: getInboundTransfer
      tags:
        - inboundTransfers
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the inbound transfer
          required: true
          schema:
            type: string
          example: "inbound_transfer_01j8rs605a4gctmbm58d87mvsj"
      responses:
        "200":
          description: The inbound transfer was retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InboundTransfer"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/inbound_transfers/{id}/cancel:
    post:
      summary: Cancel an Inbound Transfer
      description: |-
        Cancel an inbound transfer.
        Returns the Inbound Transfer object if the cancelation succeeded.
        Returns a 412 Precondition Failed if the Inbound Transfer has already been canceled or cannot be canceled.
      operationId: cancelInboundTransfer
      tags:
        - inboundTransfers
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the inbound transfer
          required: true
          schema:
            type: string
          example: "inbound_transfer_01j8rs605a4gctmbm58d87mvsj"
      responses:
        "200":
          description: The inbound transfer was canceled
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InboundTransfer"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/simulations/inbound_transfers/{id}/fail:
    post:
      summary: "Sandbox: Fail an Inbound Transfer"
      description: |-
        Simulate an inbound transfer failure.

        <Note title="Sandbox Only" icon="fa-light fa-atom-simple">
        This API is only available in the sandbox environment.
        </Note>
      operationId: simulateInboundTransferFailure
      tags:
        - inboundTransfers
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the inbound transfer
          required: true
          schema:
            type: string
          example: "inbound_transfer_01j8rs605a4gctmbm58d87mvsj"
      responses:
        "202":
          description: The inbound transfer failure request was accepted
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/simulations/inbound_transfers/{id}/complete:
    post:
      summary: "Sandbox: Complete an Inbound Transfer"
      description: |-
        Simulate an inbound transfer completion.

        <Note title="Sandbox Only" icon="fa-light fa-atom-simple">
        This API is only available in the sandbox environment.
        </Note>
      operationId: simulateInboundTransferCompletion
      tags:
        - inboundTransfers
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the inbound transfer
          required: true
          schema:
            type: string
          example: "inbound_transfer_01j8rs605a4gctmbm58d87mvsj"
      responses:
        "202":
          description: The inbound transfer completion request was accepted
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    CreateDisbursementInput:
      type: object
      description: |-
        The request to create a disbursement and its corresponding transactions.
        The organization and amount are required.
        The transactions array should contain the list of transactions associated with the disbursement. The amounts
        in the transactions should sum up to the disbursement amount.
      required:
        - organization_id
        - amount
        - transactions
      properties:
        organization_id:
          type: string
          description: The ID of the organization that will receive the disbursement.
          example: "org_1234567890"
        program_id:
          type: string
          description: |-
            The identifier for the program that the disbursement is associated with.
            The program must have grant_disbursement_status enabled.
            If not provided, your grant_disbursement_status enabled program will be used.
            If your Chariot account has multiple grant_disbursement_status enabled programs, you must specify the program_id to use for the disbursement.
          example: "program_01jpjenf5q6cawy43yxfcrxhct"
          nullable: true
        amount:
          type: integer
          format: int64
          description: The disbursement amount in USD cents. Must be a positive amount.
          example: 10000
        auto_fund:
          type: boolean
          description: |-
            Enable just-in-time (JIT) funding for this disbursement. When true, Chariot will automatically create an inbound transfer for the disbursement amount when it is approved, eliminating the need to pre-fund your account. This feature must be enabled on your account. Contact Chariot to enable JIT disbursements.
          example: false
          default: false
        transactions:
          type: array
          description: |-
            The list of transactions associated with the disbursement.
            Each transaction is an individual donation to be included in the disbursement.
            Must specify at least one transaction.

            The sum of all transaction net amounts (amount - fee_amount) must equal the disbursement amount.
          items:
            type: object
            description: |
              An individual donation to be included in the disbursement.
            required:
              - amount
              - type
            properties:
              amount:
                type: integer
                format: int64
                description: |
                  The gross transaction amount in minor currency units (cents) before any fees are deducted.
                  This represents the total amount of the donation.
                example: 10000
              fee_amount:
                type: integer
                format: int64
                description: |
                  Optional fee amount in minor currency units (cents) to be deducted from the transaction.
                  If provided, the fee amount must be less than the transaction amount.
                  The net amount (amount - fee_amount) will be used when calculating the disbursement total.
                example: 500
                nullable: true
              description:
                type: string
                description: |
                  A description of the donation.
                  This description is displayed to the receiving organization.
                example: "Donation to nonprofit"
              type:
                $ref: "#/components/schemas/DonationType"
              donor_advised_fund_grant:
                $ref: "#/components/schemas/DonorAdvisedFundGrant"
              metadata:
                type: object
                description: Additional metadata for the transaction
                additionalProperties:
                  type: string
    OrganizationSummary:
      type: object
      description: |-
        A summary of an organization.
      required:
        - id
        - ein
        - name
      properties:
        id:
          type: string
          description: The unique identifier for the organization.
          example: org_01j8rs605a4gctmbm58d87mvsj
        ein:
          type: string
          description: The Employer Identification Number (EIN) or TaxID for the nonprofit entity.
          example: "123456789"
        name:
          type: string
          description: The name of the organization.
          example: American Red Cross
        daf_eligible:
          type: boolean
          description: Whether the organization is eligible to receive donations from a Donor Advised Fund.
          example: true
        city:
          type: string
          description: The city of the organization.
          example: New York
        state:
          type: string
          description: The state of the organization.
          example: NY
    Organization:
      type: object
      description: |-
        An `Organization` represents an operating nonprofit or an operating sub-organization of a parent or sponsoring nonprofit.
        The generally accepted identifier for an organization is its domain. This domain provides proof of identity, ownership and relationship to an entity.
        Organizations can receive payments from payers on the network.
      required:
        - id
        - ein
        - name
      properties:
        id:
          type: string
          readOnly: true
          description: The unique identifier for the object.
          example: org_01j8rs605a4gctmbm58d87mvsj
        ein:
          type: string
          description: The EIN of the organization.
          example: "123456789"
        name:
          type: string
          description: |-
            The name of the organization.
            For organizations that operate under a different name than the one tied to the legal entity,
            this name will differ from the name of the linked entity.
            This is also known as the "DBA" or "Doing Business As" name of the organization.
          example: American Red Cross
        parent_organization_id:
          type: string
          description: |-
            The unique identifier of the parent organization, if this is a sponsored organization.
            This value is `null` or empty if the organization is not sponsored or not a child of a parent organization.
          example: org_01j8rs605a4gctmbm58d87mvsk
        physical_address:
          $ref: "#/components/schemas/Address"
        classification:
          $ref: "#/components/schemas/NonprofitClassification"
        compliance:
          $ref: "#/components/schemas/NonprofitCompliance"
        mission_statement:
          type: string
          description: The mission statement of the organization
          example: To provide relief to those in need
        web:
          $ref: "#/components/schemas/WebDomain"
        brand:
          $ref: "#/components/schemas/Brand"
        officers:
          type: array
          description: The list of officers of the organization
          items:
            $ref: "#/components/schemas/Person"
        claimed:
          type: boolean
          readOnly: true
          description: |-
            A flag to indicate if the nonprofit has been claimed by a user.
            A nonprofit is claimed if a user signs up for a Chariot account with
            this nonprofit and is verified by the Chariot team.
    NonprofitClassification:
      type: object
      description: |-
        A classification of the nonprofit entity as defined by the IRS.
      properties:
        group_exemption_number:
          type: string
          description: This is a four-digit internal IRS number assigned to central/parent entity holding group exemption letters.
        subsection_code:
          $ref: "#/components/schemas/TaxExemptCode"
        filing_requirement_code:
          $ref: "#/components/schemas/TaxExemptCode"
        foundation_code:
          $ref: "#/components/schemas/TaxExemptCode"
        affiliation_code:
          $ref: "#/components/schemas/TaxExemptCode"
        organization_code:
          $ref: "#/components/schemas/TaxExemptCode"
        exempt_status_code:
          $ref: "#/components/schemas/TaxExemptCode"
        deductibility_code:
          $ref: "#/components/schemas/TaxExemptCode"
        ntee_code:
          $ref: "#/components/schemas/NteeCode"
        naics_code:
          $ref: "#/components/schemas/NaicsCode"
    NonprofitCompliance:
      type: object
      description: |-
        An object that contains legal information about the nonprofit entity and its tax-exemption status.
        This information is used to comply with regulations and ensure the legitimacy of the nonprofit for purposes of donations and disbursements.
      properties:
        daf_eligible:
          type: boolean
          description: Whether the entity is eligible to receive donations from a Donor Advised Fund
          example: true
        irs_pub_78:
          $ref: "#/components/schemas/ComplianceRequirement"
        ofac:
          $ref: "#/components/schemas/ComplianceRequirement"
        foundation_code:
          $ref: "#/components/schemas/ComplianceRequirement"
        california_attorney_general_registry:
          $ref: "#/components/schemas/ComplianceRequirement"
        california_franchise_tax_board:
          $ref: "#/components/schemas/ComplianceRequirement"
    Person:
      type: object
      description: |-
        A person is an individual who is an officer of a nonprofit.
      required:
        - name
      properties:
        name:
          type: string
          description: The full name of the person
        title:
          type: string
          description: The title or role of the person with respect to the nonprofit entity
          example: Executive Director
    TaxExemptCode:
      type: object
      description: |-
        A tax exempt code is a code that is used to classify the tax-exempt status of a nonprofit entity.
      required:
        - name
        - code
      properties:
        code:
          type: integer
          description: The code of the tax exempt code
          example: 1
        name:
          type: string
          description: The name of the tax exempt code
          example: "UNCONDITIONAL"
        description:
          type: string
          description: The description of the tax exempt code
          example: "Unconditional Exemption"
    NteeCode:
      type: object
      description: |-
        A code that is used to classify the nonprofit entity as defined by the IRS.
      required:
        - code
        - description
      properties:
        code:
          type: string
          description: The code of the NTEE code
          example: "A"
        description:
          type: string
          description: The description of the NTEE code
          example: "Animal Welfare"
        parent_code:
          type: string
          description: The parent code of the NTEE code
          example: "A"
        parent_description:
          type: string
          description: The description of the parent NTEE code
          example: "Animal Welfare"
    NaicsCode:
      type: object
      description: |-
        A code that is used to classify the nonprofit entity as defined by the NAICS.
      properties:
        naics2:
          type: string
          description: The code of the NAICS code
          example: "31"
        naics2_description:
          type: string
          description: The description of the NAICS code
          example: "Manufacturing"
        naics4:
          type: string
          description: The code of the NAICS code
          example: "3112"
        naics4_description:
          type: string
          description: The description of the NAICS code
          example: "Grain and Oilseed Milling"
        naics6:
          type: string
          description: The code of the NAICS code
          example: "311221"
        naics6_description:
          type: string
          description: The description of the NAICS code
          example: "Wet Corn Milling and Starch Manufacturing"
    ComplianceRequirement:
      type: object
      description: |-
        A compliance requirement is a requirement that a nonprofit entity must meet in order to be eligible for Chariot services.
      properties:
        compliant:
          type: boolean
          description: Whether the entity is compliant with the requirement
          example: true
        reason:
          type: string
          description: The reason for the compliance requirement
        last_found_at:
          type: string
          format: date-time
          description: The date and time when the compliance requirement was last found
          example: "2020-01-31T23:00:00Z"
    WebDomain:
      type: object
      description: |-
        A web domain is a unique identifier for a website or web application that is associated with an organization.
        Domains are important identity constructs that underpin the web and online interactions.
        The domain can be used as an identifier and its validity can be asserted via DNS.
      required:
        - domain
      properties:
        domain:
          type: string
          description: The DNS domain name
          example: "redcross.org"
    Brand:
      type: object
      description: |-
        Fair use brand assets that are associated with an organization and can be used for identification and informational purposes.
      properties:
        icon_url:
          type: string
          description: The URL of the organization's icon
        logo_url:
          type: string
          description: The URL of the organization's logo
    Connect:
      type: object
      description: |-
        A Connect represents an instance of Chariot Connect for a particular nonprofit. A nonprofit organization will create Connect objects in order to integrate Chariot Connect into their websites or fundraising platforms to start accepting donations directly from Donor Advised Funds. Each nonprofit can have multiple Connect objects where each one represents a logical separation for how the organization wants to organize their sources of donations. For example, they might have 2 Connect instances, one that they use to integrate Chariot Connect directly on their website and the other that they provide to a 3rd party fundraising platform. On the client side, Chariot Connect is instantiated with the `id` of the Connect object, also called the `cid`. A connect object also contains an `apiKey`. This is useful for nonprofits to provide to fundraising platforms on their behalf to programatically integrate Chariot Connect and access resources and information created from the Connect instance through various Chariot API endpoints. More information on integrating Chariot Connect into a client-side application can be found here: https://givechariot.readme.io
      required:
        - id
        - apiKey
      properties:
        id:
          type: string
          readOnly: true
          description: |-
            The unique identifier for this object. This is also the 'publishable' cid to use for initializing Connect for client-side integration.
          example: test_connect123
        name:
          type: string
          description: A human readable name for the connect, optional.
          example: website
        apiKey:
          type: string
          readOnly: true
          description: (deprecated) A secure token that can be used to make M2M API calls to read data generated by this object.
          example: test_apiTokenABC
        active:
          type: boolean
          description: |-
            A flag to indicate if this connect is active. If true, then this Connect can process donations and grants, otherwise this Connect cannot process grants.
          example: true
        createdAt:
          type: string
          readOnly: true
          format: date-time
          description: Time when this object was created. Expressed in RFC 3339 format.
          example: "2020-01-31T23:00:00Z"
        updatedAt:
          type: string
          readOnly: true
          format: date-time
          description: Time when this object was last updated. Expressed in RFC 3339 format.
          example: "2020-01-31T23:59:59Z"
        createdBy:
          type: string
          readOnly: true
          description: ID of the user who created this object.
          example: auth0-user-id-123
        archived:
          type: boolean
          readOnly: true
          description: A flag to indicate if this object is marked for deletion.
          example: false
        metadata:
          type: object
          description: A map of arbitrary string keys and values to store information about the object.
          additionalProperties:
            type: string
    Daf:
      type: object
      description: |-
        A Donor-Advised Fund, or `DAF` for short, is a special-purpose, tax-advantaged charitable account.
        For more information, please see the [IRS website](https://www.irs.gov/charities-non-profits/charitable-organizations/donor-advised-funds) for a full description.
        In the case that a DAF is supported, a donor will be able to initiate a grant directly through DAFpay.
      required:
        - id
        - orgName
        - address
        - address2
        - city
        - state
        - zip
        - supported
        - minimumGrantAmount
        - institutionDown
      properties:
        id:
          type: string
          readOnly: true
          description: The unique identifier for this object.
          example: 0bf40881-8ee2-47fb-98ca-f58c7999aa34
        orgName:
          type: string
          readOnly: true
          description: A human readable name for the DAF.
          example: website
        address:
          type: string
          readOnly: true
          description: The first address line.
          example: 123 Main St.
        address2:
          type: string
          readOnly: true
          description: The second address line.
          example: Apt 100
        city:
          type: string
          readOnly: true
          description: The city name for the address.
          example: New York City
        state:
          type: string
          readOnly: true
          description: The state name for the address.
          example: New York
        zip:
          type: string
          readOnly: true
          description: The zipcode for the address.
          example: "12345"
        supported:
          type: boolean
          readOnly: true
          description: A flag to indicate if this DAF is supported by DAFpay.
          example: false
        minimumGrantAmount:
          type: number
          readOnly: true
          description: The minimum grant amount in cents allowed for this DAF.
          example: 5000
        institutionDown:
          type: boolean
          readOnly: true
          description: A flag to indicate if the institution is down.
          example: false
    Grant:
      type: object
      description: |-
        A Grant represents a successfully initiated grant request with a Donor Advised Fund. Grants are created when a person interacts with an instance of Chariot Connect and successfully submits a grant and completes the workflow. There can be many grants associated with a Connect object and therefore a nonprofit.
      required:
        - id
        - workflowSessionId
        - fundId
        - amount
      properties:
        id:
          type: string
          readOnly: true
          description: The unique identifier for the object
          format: uuid
          example: cfe09e64-6a74-4dab-a565-361185a6f248
        userFriendlyId:
          type: string
          readOnly: true
          description: Often referred to as the "Chariot ID", this is the ID that will be included in the payment from the DAF provider.
          example: chariot-1234455
          deprecated: true
        trackingId:
          type: string
          readOnly: true
          description: The tracking ID for the grant
          example: L9E182VBGP
        workflowSessionId:
          type: string
          readOnly: true
          description: ID of the Connect Workflow Session associated with this grant
          format: uuid
          example: 2d4b2a43-a5b4-4be1-ad1f-f932016ca4a6
        fundId:
          type: string
          readOnly: true
          description: ID of the donor advised fund
          example: daf-id
        externalGrantId:
          type: string
          description: ID of the grant associated with the donor advised fund
          example: 897823sdjf8sfjs
        createdAt:
          type: string
          readOnly: true
          format: date-time
          description: Time when this object was created; expressed in RFC 3339 format
          example: "2020-01-31T23:00:00Z"
        updatedAt:
          type: string
          readOnly: true
          format: date-time
          description: Time when this object was last updated; expressed in RFC 3339 format
          example: "2020-01-31T23:59:59Z"
        amount:
          type: number
          format: integer
          description: The grant amount expressed in units of whole cents
          example: 15000
        status:
          type: string
          description: The status of the grant
          example: Initiated
        feeDetail:
          type: object
          readOnly: true
          description: The fee detail of the grant
          properties:
            total:
              type: number
              format: integer
              description: The total fee amount expressed in units of cents
              example: 1500
            contributions:
              type: array
              items:
                $ref: "#/components/schemas/ContributionFeeDetail"
              description: The list of fee contributions for this grant
        metadata:
          type: object
          description: A map of arbitrary string keys and values to store information about the object
          additionalProperties:
            type: string
        firstName:
          type: string
          description: The donor's first name
          example: "Warren"
        lastName:
          type: string
          description: The donor's last name
          example: "Buffet"
        phone:
          type: string
          description: The donor's phone number
          example: "1237861020"
        email:
          type: string
          description: The donor's email
          example: "warrenBuffet@example.com"
        note:
          type: string
          description: An note inputted by the user at submisson
          example: "Please dedicate in memory of grandma"
        statuses:
          type: array
          items:
            $ref: "#/components/schemas/GrantStatus"
          description: The list of grant statuses for this grant
        paymentChannel:
          type: string
          readOnly: true
          description: |-
            The payment channel for the grant. This is useful to know how the grant will be sent.
            The payment channel will be one of the following:
            - dafpay_network: Grant will be sent to the DAFPay Network 501(c)(3) nonprofit organization (EIN: 93-1372175). The DAFPay Network will then review and process the grant and send the funds to the intended recipient.
            - direct: Grant will be sent directly to the intended recipient.
          enum:
            - dafpay_network
            - direct
          example: direct
        address:
          $ref: "#/components/schemas/GrantAddress"
    RecurringGrant:
      type: object
      description: |-
        A RecurringGrant represents a successfully initiated recurring grant request with a Donor Advised Fund.
        RecurringGrants are created when a person interacts with an instance of Chariot Connect and successfully submits a recurring grant and completes the workflow.
        On creation, each RecurringGrant object will also have a Grant object created to represent the first grant of the recurring grant.
        There can be many grants associated with the same recurring grant.
      required:
        - id
        - workflowSessionId
        - fundId
        - amount
        - frequency
      properties:
        id:
          type: string
          readOnly: true
          description: The unique identifier for the object
          format: uuid
          example: cfe09e64-6a74-4dab-a565-361185a6f248
        trackingId:
          type: string
          readOnly: true
          description: The tracking ID for the grant
          example: L9E182VBGP
        workflowSessionId:
          type: string
          readOnly: true
          description: ID of the Connect Workflow Session associated with this grant
          format: uuid
          example: 2d4b2a43-a5b4-4be1-ad1f-f932016ca4a6
        fundId:
          type: string
          readOnly: true
          description: ID of the donor advised fund
          example: daf-id
        frequency:
          type: string
          description: |-
            How often the DAF provider will submit the recurring grant. At the moment, monthly is the only supported frequency.
          enum:
            - MONTHLY
          example: MONTHLY
        externalRecurringGrantId:
          type: string
          description: ID of the grant associated with the donor advised fund
          example: 897823sdjf8sfjs
        createdAt:
          type: string
          readOnly: true
          format: date-time
          description: Time when this object was created; expressed in RFC 3339 format
          example: "2020-01-31T23:00:00Z"
        updatedAt:
          type: string
          readOnly: true
          format: date-time
          description: Time when this object was last updated; expressed in RFC 3339 format
          example: "2020-01-31T23:59:59Z"
        amount:
          type: number
          format: integer
          description: The grant amount expressed in units of whole cents
          example: 15000
        firstName:
          type: string
          description: The donor's first name
          example: "Warren"
        lastName:
          type: string
          description: The donor's last name
          example: "Buffet"
        phone:
          type: string
          description: The donor's phone number
          example: "1237861020"
        email:
          type: string
          description: The donor's email
          example: "warrenBuffet@example.com"
        note:
          type: string
          description: An note inputted by the user at submisson
          example: "Please dedicate in memory of grandma"
        address:
          $ref: "#/components/schemas/GrantAddress"
    ContributionFeeDetail:
      type: object
      required:
        - name
        - amount
      properties:
        name:
          type: string
          description: |
            The name of the party charging the fee. This is an informational field.
            If you need to differentiate between fees charged by different parties, you should use the `feeType` field.
          example: "Chariot"
        amount:
          type: number
          format: integer
          description: The fee contribution amount expressed in units of cents
          example: 1500
        feeType:
          type: string
          description: |
            This indicates the source of a fee contribution.
              * chariot: Chariot's processing fee
              * daf: The DAF's processing fee
              * fundraising_application: The fundraising application's processing fee
          example: "chariot"
          enum:
            - chariot
            - daf
            - fundraising_application
    GrantStatus:
      type: object
      required:
        - id
        - createdAt
        - status
      properties:
        id:
          type: string
          readOnly: true
          description: The unique identifier for the object
          format: uuid
          example: cfe09e64-6a74-4dab-a565-361185a6f248
        createdAt:
          type: string
          readOnly: true
          format: date-time
          description: Time when this object was created; expressed in RFC 3339 format
          example: "2020-01-31T23:00:00Z"
        status:
          type: string
          enum:
            - Initiated
            - Completed
            - Canceled
          description: |
            The status of the grant.
          example: Initiated
        comment:
          type: string
          description: The user comment for the update
          example: The grant has been received by the nonprofit
    UnintegratedGrant:
      type: object
      description: |-
        An Unintegrated Grant represents a grant requested through a provider that Chariot does not support.
        Unintegrated grants should be treated as donation intents as Chariot can not guarantee that the grant was submitted or will be fulfilled.
        Nonprofits should use the information provided in the unintegrated grant to follow up with the donor and/or the provider to check the status of the grant.
        These are sometimes referred to as "Manual Grants".
      required:
        - id
        - workflowSessionId
        - fundId
        - amount
      properties:
        id:
          type: string
          readOnly: true
          description: The unique identifier for the object
          format: uuid
          example: cfe09e64-6a74-4dab-a565-361185a6f248
        userFriendlyId:
          type: string
          readOnly: true
          description: Often referred to as the "Chariot ID", this is the ID that will be included in the payment from the DAF provider.
          example: "1234455"
          deprecated: true
        trackingId:
          type: string
          readOnly: true
          description: The tracking ID for the unintegrated grant
          example: L9E182VBGP
        workflowSessionId:
          type: string
          readOnly: true
          description: ID of the Connect Workflow Session associated with this grant
          format: uuid
          example: 2d4b2a43-a5b4-4be1-ad1f-f932016ca4a6
        fundId:
          type: string
          readOnly: true
          description: ID of the donor advised fund
          example: daf-id
        createdAt:
          type: string
          readOnly: true
          format: date-time
          description: Time when this object was created; expressed in RFC 3339 format
          example: "2020-01-31T23:00:00Z"
        updatedAt:
          type: string
          readOnly: true
          format: date-time
          description: Time when this object was last updated; expressed in RFC 3339 format
          example: "2020-01-31T23:59:59Z"
        amount:
          type: number
          format: integer
          description: The grant amount expressed in units of whole cents
          example: 15000
        status:
          type: string
          description: |-
            The status of the unintegrated grant.
          enum:
            - Unknown
            - Completed
            - Canceled
          example: Unknown
        metadata:
          type: object
          description: A map of arbitrary string keys and values to store information about the object
          additionalProperties:
            type: string
        firstName:
          type: string
          description: The donor's first name
          example: "Warren"
        lastName:
          type: string
          description: The donor's last name
          example: "Buffet"
        phone:
          type: string
          description: The donor's phone number
          example: "1237861020"
        email:
          type: string
          description: The donor's email
          example: "warrenBuffet@example.com"
        address:
          $ref: "#/components/schemas/GrantAddress"
        note:
          type: string
          description: An note inputted by the user at submisson
          example: "Please dedicate in memory of grandma"
        paymentChannel:
          type: string
          readOnly: true
          description: |-
            The payment channel for the unintegrated grant. This is useful to know how the grant will be sent.
            The payment channel for unintegrated grants will always be:
            - offline: Grant was initiated outside of Chariot so we're unable to confirm how the grant will be sent.
          enum:
            - offline
          example: offline
    FinancialAccount:
      type: object
      description: |-
        A financial account represents a financial, depository (bank) account managed by Chariot.
        Chariot maintains a ledger and balances for the account.
        This account should be funded and have a sufficient available balance before disbursements can be created.
        Chariot is a financial technology company, not a bank. Chariot Deposit Accounts come through our banking services partner, Column, N.A.
      required:
        - id
        - name
        - program_id
        - bank_provider
        - created_at
        - updated_at
      properties:
        id:
          type: string
          description: The unique identifier for the account
          example: "account_01jpjenf5q6cawy43yxfcrxhct"
        account_type:
          type: string
          deprecated: true
          description: |-
            The type of account.
            This field is deprecated and will be removed in a future version.
            Use the program_id field instead.
          enum:
            - disbursements
            - processing
          example: "disbursements"
        program_id:
          type: string
          description: The identifier for the program determining the capabilities of this financial account
          example: "program_01jpjenf5q6cawy43yxfcrxhct"
          readOnly: true
        bank_provider:
          type: string
          description: The bank provider for the account
          example: "mock_alpha"
          readOnly: true
        created_at:
          type: string
          format: date-time
          description: The date and time the account was created
          example: "2020-01-31T23:00:00Z"
        updated_at:
          type: string
          format: date-time
          description: The date and time the account was last updated
          example: "2020-01-31T23:00:00Z"
    FinancialAccountBalance:
      type: object
      required:
        - current_balance
        - available_balance
        - timestamp
      properties:
        current_balance:
          type: number
          description: The current balance is the amount of money in the account. This value is in minor currency units (USD cents).
          example: 10000
        available_balance:
          type: number
          description: The available balance is the amount of money in the account that is available to be spent or transferred. This value is in minor currency units (USD cents).
          example: 10000
        timestamp:
          type: string
          format: date-time
          description: The time the balance was retrieved
          example: "2020-01-31T23:00:00Z"
    Address:
      type: object
      properties:
        city:
          type: string
          description: "City, district, suburb, town, or village. Maximum length: 255 characters."
        country:
          type: string
          description: "Two-letter country code (https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). Maximum length: 255 characters."
        line1:
          type: string
          description: "Address line 1 (e.g. street, PO Box, or company name). Maximum length: 255 characters."
        line2:
          type: string
          description: "Address line 2 (e.g. apartment, suite, unit, or building). Maximum length: 255 characters."
        postal_code:
          type: string
          description: "ZIP or postal code. Maximum length: 40 characters."
        state:
          type: string
          description: "State, county, province, or region. Maximum length: 255 characters."
    GrantAddress:
      type: object
      properties:
        line1:
          type: string
          description: "Address line 1 (e.g. street, PO Box, or company name). Maximum length: 255 characters."
        line2:
          type: string
          description: "Address line 2 (e.g. apartment, suite, unit, or building). Maximum length: 255 characters."
        city:
          type: string
          description: "City, district, suburb, town, or village.. Maximum length: 255 characters."
        state:
          type: string
          description: "State, county, province, or region. Maximum length: 255 characters."
        postalCode:
          type: string
          description: "ZIP or postal code. Maximum length: 255 characters."
    PostalAddress:
      type: object
      description: |-
        A postal address is a mailing address where physical mail can be received.
        Postal addresses can be used to receive paper checks.
      required:
        - city
        - country
        - line1
        - postal_code
        - state
      properties:
        city:
          type: string
          description: City, district, suburb, town, or village.
        country:
          type: string
          description: Two-letter country code (https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)
        line1:
          type: string
          description: Address line 1 (e.g. street, PO Box, or company name)
        line2:
          type: string
          description: Address line 2 (e.g. apartment, suite, unit, or building)
        postal_code:
          type: string
          description: ZIP or postal code
        state:
          type: string
          description: State, county, province, or region
    Disbursement:
      type: object
      description: A disbursement moves funds to a verified organization.
      required:
        - id
        - organization_id
        - program_id
        - amount
      properties:
        id:
          type: string
[...]
