openapi: 3.0.0
info:
  title: Chariot API
  version: "v1"
  description: The Chariot REST API. Please see https://docs.givechariot.com/api for more details.
  contact:
    name: Chariot Development Team
    url: https://givechariot.com/contact
    email: developers@givechariot.com
  termsOfService: https://givechariot.com/legal-nonprofit
servers:
  - url: https://sandboxapi.givechariot.com
    description: Sandbox
  - url: https://api.givechariot.com
    description: Production
paths:
  /v1/organizations/search:
    get:
      summary: Search organizations
      description: |-
        Search for organizations by name or EIN.
        This endpoint exists to support a typeahead search or quick lookup by nonprofit EIN or name.
        The Get Organization API should be used to retrieve detailed information about an organization.
      operationId: searchOrganizations
      tags:
        - Organizations
      security:
        - bearerAuth: []
      parameters:
        - name: q
          in: query
          required: true
          description: |-
            The query string to search for. If this is in the format of an EIN, the search will be limited exclusively to the organization with that EIN. Otherwise, this will be a fuzzy search on organization name.
          schema:
            type: string
        - name: ein
          in: query
          description: |-
            The Employer Identification Number (EIN) or TaxID for the nonprofit entity. This is deprecated in favor of the `q` parameter.
          schema:
            type: string
          deprecated: true
        - name: name
          in: query
          description: |-
            The name of the organization. This is deprecated in favor of the `q` parameter.
          schema:
            type: string
          deprecated: true
        - name: limit
          in: query
          description: Limit the size of the list that is returned. The default (and maximum) is 20 objects.
          required: false
          schema:
            type: integer
            format: int32
      responses:
        "200":
          $ref: "#/components/responses/SearchOrganizationsResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/organizations/{id}:
    get:
      summary: Get organization
      description: |-
        Retrieves the organization with the given ID.
      operationId: getOrganization
      tags:
        - Organizations
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the organization
          schema:
            type: string
          required: true
          example: "org_1LaXpKGUcADgqoEMl0Cx0Ygg"
      responses:
        "200":
          description: "OK"
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Organization"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/programs:
    get:
      summary: List Programs
      description: |-
        Returns a list of all programs for your Chariot account.
      operationId: list-programs
      tags:
        - Programs
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          description: Number of results per page. The default (and maximum) is 100 objects.
          required: false
          schema:
            type: integer
            format: int32
        - name: cursor
          in: query
          description: |-
            Cursor token for pagination. Use the next_page_token from the previous response to retrieve the next page of results.
          required: false
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/ListProgramsResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/programs/{id}:
    get:
      summary: Get Program
      description: |-
        Retrieves the program with the given ID.
      operationId: get-program
      tags:
        - Programs
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the program
          schema:
            type: string
          required: true
          example: "program_01j8rs605a4gctmbm58d87mvsj"
      responses:
        "200":
          description: OK
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Program"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/connects:
    post:
      summary: Create Connect
      description: |-
        Get an existing connect or create a new connect for an existing nonprofit organization.

        The returned Connect can be used to integrate the client-side Chariot Connect component using the `id` property (CID) and also query for data generated from the Chariot Connect instance using the connect_id query parameter in any of the List Grants API endpoints.

        <Note>
        Only one Connect object can be created per organization.
        If one already exists, this will return a `200 OK` status with the existing object.
        </Note>
      operationId: create-connect
      tags:
        - Connects
      security:
        - bearerAuth: []
      requestBody:
        $ref: "#/components/requestBodies/CreateConnectRequest"
      responses:
        "200":
          description: OK
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            Location:
              $ref: "#/components/headers/Location"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Connect"
              examples:
                Simple:
                  $ref: "#/components/examples/ConnectOutput"
        "201":
          description: Created
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            Location:
              $ref: "#/components/headers/Location"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Connect"
              examples:
                Simple:
                  $ref: "#/components/examples/ConnectOutput"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/connects/{id}:
    get:
      summary: Get Connect
      description: |-
        Retrieve a connect with the given ID.
      operationId: get-connect
      tags:
        - Connects
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: the unique id of the connect
          schema:
            type: string
          required: true
          example: live_xJd0lUrvpDkzeGBWZbuI2wbvEdM
      responses:
        "200":
          description: "OK"
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Connect"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/grants:
    get:
      summary: List Grants
      description: |-
        Returns a list of all grants for a given Connect. This API allows for paginating over many results.

        DAF providers can use `donor_account_id` to filter Grant Requests associated with a specific [Donor Account](/api/donor-accounts).
      operationId: list-grants
      tags:
        - Grants
      security:
        - bearerAuth: []
      parameters:
        - name: connect_id
          in: query
          description: the `id` of the Connect object. This can be used to filter the grants by a specific Connect if you have more than one.
          schema:
            type: string
          required: false
          example: "live_2d821da0ed8bc7256e260f4eb5244f2d8f06c576342f922ba2f0a416d8c98002"
        - name: donor_account_id
          in: query
          description: |-
            Filter grants by a specific [Donor Account](/api/donor-accounts). Use this to retrieve all Grant Requests associated with a given donor.
          schema:
            type: string
          required: false
          example: "donor_account_01jpjenf5q6cawy43yxfcrxhct"
        - name: pageLimit
          in: query
          description: the number of results to return; defaults to 10, max is 100
          schema:
            type: integer
            default: 10
        - name: pageToken
          in: query
          description: |-
            A token to use to retrieve the next page of results. This is useful for paginating over many pages of results. If set, all other arguments are expected to be kept the same as previous calls and the value of this field should be from the nextPageToken in the previous response.
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/ListGrantsResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
    post:
      summary: Create Grant
      description: |-
        Create and submit a new grant. This should be used to capture a grant intent from an authorized DAFpay workflow session and submit the grant request to the DAF sponsor.
        On initial creation of the grant, this request will return a 201 Created status. On subsequent requests, the request will return status 200 OK.

        <Warning>
        Error handling:
        - The grant must be captured within 15 minutes of authorization otherwise the request will return status `410 Gone`.
        - If this request is submitted while this grant is already being processed, the request will return status `409 Conflict`.
        - The amount must be in whole dollar increments (rounded to the nearest hundred) as currently DAFs only accept whole dollar grants otherwise the request will return status `400 Bad Request`.
        - The amount must be greater than or equal to the minimum grant amount for the DAF otherwise the request will return status `400 Bad Request`.
        - The amount must be less than or equal to the user's DAF account balance otherwise the request will return status `400 Bad Request`.
        - Any inputs exceeding the maximum allowed length will be automatically truncated.
        </Warning>
      operationId: create-grant
      tags:
        - Grants
      security:
        - bearerAuth: []
      requestBody:
        $ref: "#/components/requestBodies/GrantCaptureRequest"
      responses:
        "201":
          description: Created
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            Location:
              description: The URI reference of the created grant object.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Grant"
              examples:
                Simple:
                  $ref: "#/components/examples/GrantOutput"
        "200":
          description: The grant
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Grant"
              examples:
                Simple:
                  $ref: "#/components/examples/GrantOutput"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "410":
          $ref: "#/components/responses/GoneError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/grants/{id}:
    get:
      summary: Get Grant
      description: |-
        Retrieve a grant with the given ID.
      operationId: get-grant
      tags:
        - Grants
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: |-
            The unique id of the grant.
            The format should be a v4 UUID according to RFC 4122.
          schema:
            type: string
            format: uuid
          required: true
          example: 10229488-08d2-4629-b70c-a2f4f4d25344
      responses:
        "200":
          description: OK
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Grant"
              examples:
                Simple:
                  $ref: "#/components/examples/GrantOutput"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/recurring_grants:
    get:
      summary: List Recurring Grants
      description: |-
        Returns a list of all recurring grants for a given Connect. This API allows for paginating over many results.
      operationId: list-recurring-grants
      tags:
        - recurring_grants
      security:
        - bearerAuth: []
      parameters:
        - name: connect_id
          in: query
          description: the `id` of the Connect object. This can be used to filter the recurring grants by a specific Connect if you have more than one.
          schema:
            type: string
          required: false
          example: "live_2d821da0ed8bc7256e260f4eb5244f2d8f06c576342f922ba2f0a416d8c98002"
        - name: pageLimit
          in: query
          description: the number of results to return; defaults to 10, max is 100
          schema:
            type: integer
            default: 10
        - name: pageToken
          in: query
          description: |-
            A token to use to retrieve the next page of results. This is useful for paginating over many pages of results. If set, all other arguments are expected to be kept the same as previous calls and the value of this field should be from the nextPageToken in the previous response.
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/ListRecurringGrantsResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
    post:
      summary: Create Recurring Grant
      description: |-
        Create and submit a new recurring grant. This should be used to capture a recurring grant intent from an authorized DAFpay workflow session and submit the recurring grant request to the DAF sponsor.

        <Warning>
        Error handling:
        - The recurring grant must be captured within 15 minutes of authorization otherwise the request will return status `410 Gone`.
        - A recurring grant can only be captured once from any given workflow session so any duplicate requests will return status `409 Conflict`.
        - The amount must be in whole dollar increments (rounded to the nearest hundred) as currently DAFs only accept whole dollar grants otherwise the request will return status `400 Bad Request`.
        - The amount must be greater than or equal to the minimum grant amount for the DAF otherwise the request will return status `400 Bad Request`.
        - The amount must be less than or equal to the user's DAF account balance otherwise the request will return status `400 Bad Request`.
        - Any inputs exceeding the maximum allowed length will be automatically truncated unless otherwise stated.
        </Warning>
      operationId: create-recurring-grant
      tags:
        - recurring_grants
      security:
        - bearerAuth: []
      requestBody:
        $ref: "#/components/requestBodies/RecurringGrantCaptureRequest"
      responses:
        "201":
          description: Created recurring grant
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            Location:
              description: The URI reference of the created recurring grant object.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecurringGrant"
              examples:
                Simple:
                  $ref: "#/components/examples/RecurringGrantOutput"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "410":
          $ref: "#/components/responses/GoneError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/recurring_grants/{id}:
    get:
      summary: Get Recurring Grant
      description: |-
        Retrieve a recurring grant with a given ID.
      operationId: get-recurring-grant
      tags:
        - recurring_grants
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: |-
            The unique id of the recurring grant.
            The format should be a v4 UUID according to RFC 4122.
          schema:
            type: string
            format: uuid
          required: true
          example: 10229488-08d2-4629-b70c-a2f4f4d25344
      responses:
        "200":
          description: OK
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecurringGrant"
              examples:
                Simple:
                  $ref: "#/components/examples/RecurringGrantOutput"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/unintegrated_grants:
    get:
      summary: List Unintegrated Grants
      description: |-
        Returns a list of all unintegrated grants for a given Connect. This API allows for paginating over many results.
      operationId: list-unintegrated-grants
      tags:
        - unintegrated_grants
      security:
        - bearerAuth: []
      parameters:
        - name: connect_id
          in: query
          description: the `id` of the Connect object. This can be used to filter the unintegrated grants by a specific Connect if you have more than one.
          schema:
            type: string
          required: false
          example: "live_2d821da0ed8bc7256e260f4eb5244f2d8f06c576342f922ba2f0a416d8c98002"
        - name: pageLimit
          in: query
          description: the number of results to return; defaults to 10, max is 100
          schema:
            type: integer
            default: 10
        - name: pageToken
          in: query
          description: |-
            A token to use to retrieve the next page of results. This is useful for paginating over many pages of results. If set, all other arguments are expected to be kept the same as previous calls and the value of this field should be from the nextPageToken in the previous response.
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/ListUnintegratedGrantsResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/unintegrated_grants/{id}:
    get:
      summary: Get Unintegrated Grant
      description: |-
        Retrieve an unintegrated grant with a given ID.
      operationId: get-unintegrated-grant
      tags:
        - unintegrated_grants
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: |-
            The unique id of the unintegrated grant.
            The format should be a v4 UUID according to RFC 4122.
          schema:
            type: string
            format: uuid
          required: true
          example: 10229488-08d2-4629-b70c-a2f4f4d25344
      responses:
        "200":
          description: OK
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnintegratedGrant"
              examples:
                Simple:
                  $ref: "#/components/examples/UnintegratedGrantOutput"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/dafs:
    get:
      summary: List Donor Advised Funds
      description: |-
        Returns a list of all Donor Advised Funds within Chariot's system. This API allows for paginating over many results.

        <Note>
        If there are DAFs missing from the list, please contact support at support@givechariot.com.
        </Note>
      operationId: list-dafs
      tags:
        - Donor Advised Funds
      security:
        - bearerAuth: []
      parameters:
        - name: supportedOnly
          in: query
          description: |-
            If set to true, filters DAFs to only those that have a direct integration with Chariot.
          schema:
            type: boolean
            default: false
        - name: query
          in: query
          description: |-
            If included, filters DAFs to only those that contain the query. This parameter is case insensitive.
          schema:
            type: string
        - name: pageLimit
          in: query
          description: the number of results to return; defaults to 10, max is 100
          schema:
            type: integer
            default: 10
        - name: pageToken
          in: query
          description: |-
            A token to use to retrieve the next page of results. This is useful for paginating over many pages of results. If set, all other arguments are expected to be kept the same as previous calls.
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/ListDafsResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/dafs/{id}:
    get:
      summary: Get Donor Advised Fund
      description: |-
        Retrieve a DAF with a given ID.
      operationId: get-daf
      tags:
        - Donor Advised Funds
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: |-
            The unique id of the DAF.
            The format should be a v4 UUID according to RFC 4122.
          schema:
            type: string
            format: uuid
          required: true
          example: f9e28217-e0f7-4a54-9764-d664ffb10722
      responses:
        "200":
          description: "OK"
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Daf"
              examples:
                Npt:
                  $ref: "#/components/examples/DafOutput"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/donor_accounts:
    post:
      summary: Create Donor Account
      description: |-
        Create a new Donor Account.

        This endpoint is intended for DAF providers who want to set up a Donor Account on behalf of a donor before that donor uses DAFpay for the first time.
        See the [DAF-Initiated Setup guide](/guides/dafpay/donor-accounts/daf-initiated-setup) for the most common use of this endpoint.

        On creation, the Donor Account is placed in `pending` status. To make the account immediately usable for grant submissions, follow up with [Create Authorization Token](/api/donor-accounts/create-authorization-token) and provide the resulting code to the donor — when the donor enters the code in DAFpay, the Donor Account is automatically approved.
      operationId: create-donor-account
      tags:
        - Donor Accounts
      security:
        - bearerAuth: []
      requestBody:
        $ref: "#/components/requestBodies/CreateDonorAccountRequest"
      responses:
        "201":
          description: Created
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            Location:
              description: The URI reference of the created donor account.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DonorAccount"
              examples:
                Simple:
                  $ref: "#/components/examples/DonorAccountOutput"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "500":
          $ref: "#/components/responses/InternalServerError"
    get:
      summary: List Donor Accounts
      description: |-
        Returns a list of Donor Accounts for the authenticated DAF.
        This endpoint supports cursor-based pagination as well as filtering by fund, status, and email.
      operationId: list-donor-accounts
      tags:
        - Donor Accounts
      security:
        - bearerAuth: []
      parameters:
        - name: giving_pool_id
          in: query
          description: |-
            The `id` of a [Giving Pool](/api/giving-pools). When set, filters Donor Accounts to those that have this Giving Pool associated with them.
          schema:
            type: string
          required: false
          example: "0bf40881-8ee2-47fb-98ca-f58c7999aa34"
        - name: status
          in: query
          description: |-
            Filter Donor Accounts to only those with the specified status.
          schema:
            $ref: "#/components/schemas/DonorAccountStatus"
          required: false
        - name: email
          in: query
          description: |-
            Filter Donor Accounts by donor email. The match is case insensitive and exact.
          schema:
            type: string
          required: false
          example: "warrenBuffet@example.com"
        - name: external_id
          in: query
          description: |-
            Filter Donor Accounts by `external_id` — the DAF's internal identifier for the Donor Account.
          schema:
            type: string
          required: false
        - name: page_limit
          in: query
          description: the number of results to return; defaults to 10, max is 100
          schema:
            type: integer
            default: 10
        - name: page_token
          in: query
          description: |-
            A token to use to retrieve the next page of results. This is useful for paginating over many pages of results. If set, all other arguments are expected to be kept the same as previous calls and the value of this field should be from the next_page_token in the previous response.
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/ListDonorAccountsResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/donor_accounts/{id}:
    get:
      summary: Get Donor Account
      description: |-
        Retrieve a Donor Account with the given ID.
      operationId: get-donor-account
      tags:
        - Donor Accounts
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: |-
            The unique id of the Donor Account.
          schema:
            type: string
          required: true
          example: "donor_account_01jpjenf5q6cawy43yxfcrxhct"
      responses:
        "200":
          description: OK
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DonorAccount"
              examples:
                Simple:
                  $ref: "#/components/examples/DonorAccountOutput"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
    patch:
      summary: Update Donor Account
      description: |-
        Update mutable properties on a Donor Account such as `external_id`, the nested `donor` fields, and `metadata`.

        The Donor Account's status is managed automatically through the Authorization Token verification flow and cannot be changed directly via this endpoint.
      operationId: update-donor-account
      tags:
        - Donor Accounts
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique id of the Donor Account
          schema:
            type: string
          required: true
          example: "donor_account_01jpjenf5q6cawy43yxfcrxhct"
      requestBody:
        $ref: "#/components/requestBodies/UpdateDonorAccountRequest"
      responses:
        "200":
          description: OK
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DonorAccount"
              examples:
                Simple:
                  $ref: "#/components/examples/DonorAccountOutput"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/donor_accounts/{id}/disable:
    post:
      summary: Disable Donor Account
      description: |-
        Disable an approved Donor Account.

        A disabled Donor Account remains `approved` but cannot submit new Grant Requests. Existing Grant Requests already in flight are unaffected — disabling does not retroactively cancel or reject prior activity. Use this when a DAF needs to temporarily prevent a donor from initiating new grants (e.g. account under review, donor offboarding) without rejecting the underlying identity verification.

        This endpoint is idempotent — calling it on an already-disabled account returns the Donor Account unchanged.

        <Warning>
        - The Donor Account must be in `approved` status. Calls on a `pending` or `rejected` account return status `409 Conflict`.
        </Warning>
      operationId: disable-donor-account
      tags:
        - Donor Accounts
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique id of the Donor Account.
          schema:
            type: string
          required: true
          example: "donor_account_01jpjenf5q6cawy43yxfcrxhct"
      responses:
        "200":
          description: The Donor Account was disabled (or was already disabled).
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DonorAccount"
              examples:
                Disabled:
                  $ref: "#/components/examples/DonorAccountDisabledOutput"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/donor_accounts/{id}/enable:
    post:
      summary: Enable Donor Account
      description: |-
        Re-enable a previously disabled Donor Account. After this call, the Donor Account can submit new Grant Requests again.

        This endpoint is idempotent — calling it on an account that is already enabled returns the Donor Account unchanged.

        <Warning>
        - The Donor Account must be in `approved` status. Calls on a `pending` or `rejected` account return status `409 Conflict`.
        </Warning>
      operationId: enable-donor-account
      tags:
        - Donor Accounts
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique id of the Donor Account.
          schema:
            type: string
          required: true
          example: "donor_account_01jpjenf5q6cawy43yxfcrxhct"
      responses:
        "200":
          description: The Donor Account was enabled (or was already enabled).
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DonorAccount"
              examples:
                Enabled:
                  $ref: "#/components/examples/DonorAccountEnabledOutput"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/donor_accounts/{id}/authorization_tokens:
    post:
      summary: Create Authorization Token
      description: |-
        Create a single-use Authorization Token bound to a Donor Account.

        Authorization Tokens are the binding credential used to verify a donor's identity between DAFpay and the DAF.
        They are used in two distinct flows:

        - **DAF-Initiated Setup**: The DAF creates a Donor Account and then creates an Authorization Token. The DAF surfaces the token's `code` to the donor via their portal. The donor enters the `code` into DAFpay during profile setup, automatically approving the Donor Account.
        - **Donor-Initiated Verification**: After a donor submits a Grant Request, DAFpay automatically issues an Authorization Token and emails the `code` to the donor. The donor provides the `code` to the DAF (e.g. via a portal form or phone call). The DAF then calls [Verify Authorization Token](/api/authorization-tokens/verify) with the `code` to verify and approve the linked Donor Account.

        Tokens expire **30 days** after creation by default. Override the lifetime by passing `expires_in` (seconds) on the request body — supported range is 60 seconds to 90 days. Once a token expires it transitions to `expired` and can no longer be verified; create a new token to issue a fresh code.

        <Warning>
        The token's `code` value is **only returned once** in this response. Treat it as a credential — store it securely and never log it. If the code is lost before being verified, [revoke](/api/authorization-tokens/revoke) the token and create a new one.
        </Warning>
      operationId: create-authorization-token
      tags:
        - Authorization Tokens
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique id of the Donor Account
          schema:
            type: string
          required: true
          example: "donor_account_01jpjenf5q6cawy43yxfcrxhct"
      requestBody:
        $ref: "#/components/requestBodies/CreateDonorAuthorizationTokenRequest"
      responses:
        "201":
          description: Created
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            Location:
              description: The URI reference of the created authorization token.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DonorAuthorizationToken"
              examples:
                Created:
                  $ref: "#/components/examples/DonorAuthorizationTokenCreatedOutput"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
    get:
      summary: List Authorization Tokens
      description: |-
        List Authorization Tokens for a Donor Account.
        Token codes are never returned by this endpoint — only the metadata is returned.
      operationId: list-authorization-tokens
      tags:
        - Authorization Tokens
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique id of the Donor Account
          schema:
            type: string
          required: true
          example: "donor_account_01jpjenf5q6cawy43yxfcrxhct"
        - name: status
          in: query
          description: Filter tokens by status.
          schema:
            $ref: "#/components/schemas/DonorAuthorizationTokenStatus"
          required: false
        - name: page_limit
          in: query
          description: the number of results to return; defaults to 10, max is 100
          schema:
            type: integer
            default: 10
        - name: page_token
          in: query
          description: A cursor for paginating; pass the value from `next_page_token` of the previous response.
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/ListDonorAuthorizationTokensResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/authorization_tokens/{id}:
    get:
      summary: Get Authorization Token
      description: |-
        Retrieve an Authorization Token with the given ID.
        The token's `code` is never returned — only the metadata is returned.
      operationId: get-authorization-token
      tags:
        - Authorization Tokens
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique id of the Authorization Token
          schema:
            type: string
          required: true
          example: "auth_token_01jpjenf5q6cawy43yxfcrxhct"
      responses:
        "200":
          description: OK
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DonorAuthorizationToken"
              examples:
                Simple:
                  $ref: "#/components/examples/DonorAuthorizationTokenOutput"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/authorization_tokens/{id}/revoke:
    post:
      summary: Revoke Authorization Token
      description: |-
        Revoke an unverified Authorization Token. Once revoked, the `code` can no longer be verified.
        Tokens that have already been verified or expired cannot be revoked and will return status `412 Precondition Failed`.
      operationId: revoke-authorization-token
      tags:
        - Authorization Tokens
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique id of the Authorization Token
          schema:
            type: string
          required: true
          example: "auth_token_01jpjenf5q6cawy43yxfcrxhct"
      responses:
        "200":
          description: The token was revoked
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DonorAuthorizationToken"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/authorization_tokens/verify:
    post:
      summary: Verify Authorization Token
      description: |-
        Verify an Authorization Token by its `code` value.

        This endpoint is used by DAFs in the **Donor-Initiated Verification** flow: when a donor presents the `code` they received from DAFpay (via email after submitting a Grant Request), the DAF calls this endpoint with the `code` to confirm the donor's identity.

        On success:
        - The Authorization Token transitions to `verified`.
        - The linked Donor Account is automatically transitioned to `approved` if it is currently `pending`.
        - The full Donor Account is returned (including the `id` you can use to call subsequent endpoints).

        Codes are only valid until the token's `expires_at` — **30 days** after creation by default (configurable via `expires_in` on [Create Authorization Token](/api/authorization-tokens/create), 60 seconds to 90 days). After that point, the token's status becomes `expired` and verification will fail. If the donor's code has expired, prompt them to submit a new Grant Request — DAFpay will issue and email a fresh code automatically.

        <Warning>
        Error handling:
        - If the `code` is unknown, expired, revoked, or already verified, the request will return status `404 Not Found` or `410 Gone` to avoid leaking information about valid codes. Expired codes are intentionally indistinguishable from other invalid codes in the response — surface a generic "code is invalid or has expired" message to the donor and ask them to request a new code.
        - If the linked Donor Account has already been rejected, the request will return status `409 Conflict`.
        - To prevent brute-force attacks, this endpoint enforces strict per-DAF rate limits. Repeated failures will return status `429 Too Many Requests`.
        </Warning>
      operationId: verify-authorization-token
      tags:
        - Authorization Tokens
      security:
        - bearerAuth: []
      requestBody:
        $ref: "#/components/requestBodies/VerifyDonorAuthorizationTokenRequest"
      responses:
        "200":
          description: The token was successfully verified and the Donor Account was approved.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DonorAccount"
              examples:
                Verified:
                  $ref: "#/components/examples/DonorAccountApprovedOutput"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "410":
          $ref: "#/components/responses/GoneError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/giving_pools:
    get:
      summary: List Giving Pools
      description: |-
        Returns a list of Giving Pools accessible to the authenticated DAF account.

        Giving Pools represent individual named giving pools within a donor's DAF account (e.g. "Smith Family Fund").
        A [Donor Account](/api/donor-accounts) may be associated with multiple Giving Pools.
      operationId: list-funds
      tags:
        - Giving Pools
      security:
        - bearerAuth: []
      parameters:
        - name: donor_account_id
          in: query
          description: Filter Giving Pools by the ID of the associated [Donor Account](/api/donor-accounts).
          required: false
          schema:
            type: string
        - name: page_limit
          in: query
          description: The number of results to return. Defaults to 10, max is 100.
          required: false
          schema:
            type: integer
            default: 10
        - name: page_token
          in: query
          description: A token to retrieve the next page of results.
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: "#/components/schemas/GivingPool"
                  next_page_token:
                    type: string
                    description: A token to retrieve the next page of results. Absent when there are no more results.
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/giving_pools/{id}:
    get:
      summary: Get Giving Pool
      description: |-
        Retrieve a Giving Pool with the given ID.
      operationId: get-fund
      tags:
        - Giving Pools
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique ID of the Giving Pool.
          schema:
            type: string
            format: uuid
          required: true
          example: "0bf40881-8ee2-47fb-98ca-f58c7999aa34"
      responses:
        "200":
          description: OK
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GivingPool"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/grant_requests:
    get:
      summary: List Grant Requests
      description: |-
        Returns a list of Grant Requests accessible to the authenticated DAF account.

        Use `donor_account_id` to retrieve all Grant Requests associated with a specific donor.
      operationId: list-grant-requests
      tags:
        - Grant Requests
      security:
        - bearerAuth: []
      parameters:
        - name: donor_account_id
          in: query
          description: Filter Grant Requests by the ID of the associated [Donor Account](/api/donor-accounts).
          required: false
          schema:
            type: string
          example: "donor_account_01jpjenf5q6cawy43yxfcrxhct"
        - name: page_limit
          in: query
          description: The number of results to return. Defaults to 10, max is 100.
          required: false
          schema:
            type: integer
            default: 10
        - name: page_token
          in: query
          description: A token to retrieve the next page of results.
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: "#/components/schemas/GrantRequest"
                  next_page_token:
                    type: string
                    description: A token to retrieve the next page of results. Absent when there are no more results.
              examples:
                MixedStatuses:
                  summary: A page of Grant Requests across statuses
                  value:
                    results:
                      - id: "grant_req_01jpjenf5q6cawy43yxfcrxhct"
                        donor_account_id: "donor_account_01jpjenf5q6cawy43yxfcrxhct"
                        giving_pool_id: "0bf40881-8ee2-47fb-98ca-f58c7999aa34"
                        status: "pending"
                        ein: "53-0196605"
                        nonprofit_name: "American Red Cross"
                        amount_cents: 10000
                        frequency: "one_time"
                        form_url: "https://example.org/donate"
                        purpose: "Disaster relief"
                        note: "Thank you for your service."
                        donor_contact:
                          name: "Warren Buffet"
                          email: "warrenBuffet@example.com"
                          phone: "+12125550100"
                          address:
                            line1: "3555 Farnam Street"
                            line2: null
                            city: "Omaha"
                            state: "NE"
                            zip: "68131"
                        rejection_reason: null
                        created_at: "2026-04-03T14:22:00Z"
                        updated_at: "2026-04-03T14:22:00Z"
                      - id: "grant_req_01jpjenf5q6cawy43yxfcrxhcu"
                        donor_account_id: "donor_account_01jpjenf5q6cawy43yxfcrxhct"
                        giving_pool_id: "0bf40881-8ee2-47fb-98ca-f58c7999aa34"
                        status: "submitted"
                        ein: "13-1635294"
                        nonprofit_name: "World Wildlife Fund"
                        amount_cents: 25000
                        frequency: "one_time"
                        form_url: "https://example.org/donate"
                        purpose: null
                        note: null
                        donor_contact:
                          name: "Warren Buffet"
                          email: "warrenBuffet@example.com"
                          phone: "+12125550100"
                          address:
                            line1: "3555 Farnam Street"
                            line2: null
                            city: "Omaha"
                            state: "NE"
                            zip: "68131"
                        rejection_reason: null
                        created_at: "2026-03-28T10:05:00Z"
                        updated_at: "2026-03-29T08:00:00Z"
                      - id: "grant_req_01jpjenf5q6cawy43yxfcrxhcv"
                        donor_account_id: "donor_account_01jpjenf5q6cawy43yxfcrxhct"
                        giving_pool_id: "0bf40881-8ee2-47fb-98ca-f58c7999aa34"
                        status: "rejected"
                        ein: "13-1788491"
                        nonprofit_name: "Doctors Without Borders"
                        amount_cents: 500000
                        frequency: "one_time"
                        form_url: "https://example.org/donate"
                        purpose: null
                        note: null
                        donor_contact:
                          name: "Warren Buffet"
                          email: "warrenBuffet@example.com"
                          phone: "+12125550100"
                          address:
                            line1: "3555 Farnam Street"
                            line2: null
                            city: "Omaha"
                            state: "NE"
                            zip: "68131"
                        rejection_reason: "Grant amount exceeds donor's available balance."
                        created_at: "2026-03-20T16:11:00Z"
                        updated_at: "2026-03-21T09:30:00Z"
                    next_page_token: "c3f685f2-2dda-4956-815b-39867a5e5638"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/grant_requests/{id}:
    get:
      summary: Get Grant Request
      description: |-
        Retrieve a Grant Request with the given ID.
      operationId: get-grant-request
      tags:
        - Grant Requests
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique ID of the Grant Request.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GrantRequest"
              examples:
                Pending:
                  $ref: "#/components/examples/GrantRequestPendingOutput"
                AwaitingAccountDecision:
                  $ref: "#/components/examples/GrantRequestAwaitingAccountDecisionOutput"
                Submitted:
                  $ref: "#/components/examples/GrantRequestSubmittedOutput"
                Rejected:
                  $ref: "#/components/examples/GrantRequestRejectedOutput"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/grant_requests/{id}/submit:
    post:
      summary: Submit Grant Request
      description: |-
        Confirm that you have submitted the grant in your system.

        Calling this endpoint moves the Grant Request's status to `submitted` and emits a `grant_request.updated` webhook event.

        <Warning>
        - The Grant Request must be in `pending` status. If the linked [Donor Account](/api/donor-accounts) is not yet `approved`, the Grant Request will be in `awaiting_account_decision` and this request returns status `412 Precondition Failed`.
        - A Grant Request that is already `submitted` or `rejected` cannot be updated. Subsequent calls return status `409 Conflict`.
        </Warning>
      operationId: submit-grant-request
      tags:
        - Grant Requests
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique ID of the Grant Request.
          required: true
          schema:
            type: string
      requestBody:
        $ref: "#/components/requestBodies/SubmitGrantRequest"
      responses:
        "200":
          description: The Grant Request was submitted.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GrantRequest"
              examples:
                Submitted:
                  $ref: "#/components/examples/GrantRequestSubmittedOutput"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/grant_requests/{id}/reject:
    post:
      summary: Reject Grant Request
      description: |-
        Indicate that you will not process this grant.

        Calling this endpoint moves the Grant Request's status to `rejected` and emits a `grant_request.updated` webhook event.
        The Donor Account itself is unaffected; future Grant Requests from the same donor can still be processed.

        <Warning>
        A Grant Request that is already `submitted` or `rejected` cannot be updated. Subsequent calls return status `409 Conflict`.
        </Warning>
      operationId: reject-grant-request
      tags:
        - Grant Requests
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique ID of the Grant Request.
          required: true
          schema:
            type: string
      requestBody:
        $ref: "#/components/requestBodies/RejectGrantRequest"
      responses:
        "200":
          description: The Grant Request was rejected.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GrantRequest"
              examples:
                Rejected:
                  $ref: "#/components/examples/GrantRequestRejectedOutput"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/events:
    get:
      summary: List Events
      description: |-
        List all events corresponding to your Chariot account.
      operationId: listEvents
      tags:
        - Events
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
          required: false
          schema:
            type: integer
            format: int32
        - name: cursor
          in: query
          description: The cursor to use for pagination. If not set, the first page of results will be returned.
          required: false
          schema:
            type: string
        - name: category
          in: query
          description: |
            Filter Events for those with the specified category.
          required: false
          schema:
            $ref: "#/components/schemas/EventCategory"
      responses:
        "200":
          $ref: "#/components/responses/ListEventsResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/events/{id}:
    get:
      summary: Get Event
      description: |-
        Retrieve an event with the given ID.
      operationId: getEvent
      tags:
        - Events
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique id for the event
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Event"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/event_subscriptions:
    post:
      summary: Create an Event Subscription
      description: |-
        Create an event subscription corresponding to your Chariot account.
      operationId: createEventSubscription
      tags:
        - Event Subscriptions
      security:
        - bearerAuth: []
      requestBody:
        $ref: "#/components/requestBodies/CreateEventSubscriptionRequest"
      responses:
        "201":
          description: Created
          headers:
            Location:
              $ref: "#/components/headers/Location"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventSubscription"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
    get:
      summary: List Event Subscriptions
      description: |-
        List all event subscriptions corresponding to your Chariot account.
      operationId: listEventSubscriptions
      tags:
        - Event Subscriptions
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
          required: false
          schema:
            type: integer
            format: int32
        - name: cursor
          in: query
          description: The cursor to use for pagination. If not set, the first page of results will be returned.
          required: false
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/ListEventSubscriptionsResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/event_subscriptions/{id}:
    get:
      summary: Get an Event Subscription
      description: |-
        Retrieve an event subscription with the given ID.
      operationId: getEventSubscription
      tags:
        - Event Subscriptions
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the event subscription
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventSubscription"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
    patch:
      summary: Update an Event Subscription
      description: |-
        Update an event subscription with the given ID.
      operationId: updateEventSubscription
      tags:
        - Event Subscriptions
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the event subscription
          required: true
          schema:
            type: string
      requestBody:
        $ref: "#/components/requestBodies/UpdateEventSubscriptionRequest"
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventSubscription"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/financial_accounts:
    get:
      summary: List financial accounts
      description: |
        Returns a list of financial accounts.
      operationId: listFinancialAccounts
      tags:
        - financial_accounts
      security:
        - bearerAuth: []
      responses:
        "200":
          $ref: "#/components/responses/ListFinancialAccountsResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/financial_accounts/{id}:
    get:
      summary: Get a financial account
      description: |
        Get a financial account by its unique identifier.
      operationId: getFinancialAccount
      tags:
        - financial_accounts
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the financial account
          required: true
          schema:
            type: string
          example: "account_01jpjenf5q6cawy43yxfcrxhct"
      responses:
        "200":
          description: The financial account was retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FinancialAccount"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/financial_accounts/{id}/balance:
    get:
      summary: Get a financial account balance
      description: |
        Get a financial account balance by its unique identifier.
      operationId: getFinancialAccountBalance
      tags:
        - financial_accounts
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the financial account
          required: true
          schema:
            type: string
          example: "account_01jpjenf5q6cawy43yxfcrxhct"
      responses:
        "200":
          description: The financial account was retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FinancialAccountBalance"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/verification_requests:
    post:
      summary: Create a verification request
      description: |
        Request verification of an unlisted organization. If the organization cannot be found through Chariot's search,
        you can submit a verification request so that Chariot's compliance team can review and verify the organization.
      operationId: createVerificationRequest
      tags:
        - verificationRequests
      security:
        - bearerAuth: []
      requestBody:
        $ref: "#/components/requestBodies/CreateVerificationRequestRequest"
      responses:
        "201":
          description: The verification request was created
          headers:
            Location:
              $ref: "#/components/headers/Location"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerificationRequest"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
    get:
      summary: List verification requests
      description: |
        Returns a paginated list of all verification requests for the authenticated grantmaker.
      operationId: listVerificationRequests
      tags:
        - verificationRequests
      security:
        - bearerAuth: []
      parameters:
        - name: ein
          in: query
          description: Filter by EIN. If provided, only returns verification requests matching this EIN.
          required: false
          schema:
            type: string
        - name: page_limit
          in: query
          description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
          required: false
          schema:
            type: integer
            format: int32
        - name: page_token
          in: query
          description: |-
            A token to use to retrieve the next page of results.
          required: false
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/ListVerificationRequestsResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/verification_requests/{id}:
    get:
      summary: Get a verification request
      description: |
        Get a specific verification request by its unique identifier.
      operationId: getVerificationRequest
      tags:
        - verificationRequests
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier of the verification request
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The verification request
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerificationRequest"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/disbursements:
    post:
      summary: Create a disbursement
      description: |
        Create a disbursement to send money to an organization.
      operationId: createDisbursement
      tags:
        - disbursements
      security:
        - bearerAuth: []
      parameters:
        - name: Idempotency-Key
          in: header
          description: |-
            A client-generated identifier for the request. Replays with the same key return `409 Conflict`. The successfully created disbursement can later be located via `GET /v1/disbursements?idempotency_key=...`.

            We recommend supplying your own unique identifier for the disbursement in your system, so you can later look it up by an ID you already track.
          required: false
          schema:
            type: string
      requestBody:
        $ref: "#/components/requestBodies/CreateDisbursementRequest"
      responses:
        "201":
          description: The disbursement was created
          headers:
            Location:
              $ref: "#/components/headers/Location"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Disbursement"
              examples:
                DafGrantDisbursement:
                  $ref: "#/components/examples/DafGrantDisbursement"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "500":
          $ref: "#/components/responses/InternalServerError"
    get:
      summary: List disbursements
      description: |
        Returns a list of disbursements.
      operationId: listDisbursements
      tags:
        - disbursements
      security:
        - bearerAuth: []
      parameters:
        - name: organization_id
          in: query
          description: The unique identifier for the organization
          required: false
          schema:
            type: string
          example: "org_01jpjenf5q6cawy43yxfcrxhct"
        - name: page_limit
          in: query
          description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
          required: false
          schema:
            type: integer
            format: int32
        - name: next_page_token
          in: query
          description: |-
            A token to use to retrieve the next page of results. This is useful for paginating over many pages of results. If set, all other arguments are expected to be kept the same as previous calls and the value of this field should be from the nextPageToken in the previous response.
          required: false
          schema:
            type: string
        - name: includes
          in: query
          description: |-
            A comma separated list of fields to include in the response.
            Possible values include:
              - `organization`: Include the organization object in the response.
          required: false
          schema:
            type: string
            example: "organization"
        - name: idempotency_key
          in: query
          description: |-
            Filter to the disbursement created with this exact `Idempotency-Key` header on `POST /v1/disbursements`. Useful for recovering the result of a create request when the response was lost (e.g. network timeout). Returns at most one disbursement. Disbursements created via `POST /v1/disbursements/bulk` cannot be looked up this way.
          required: false
          schema:
            type: string
            example: "8e91b2f3-d7c4-4a59-9a91-72a40b1f2c3d"
      responses:
        "200":
          $ref: "#/components/responses/ListDisbursementsResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/disbursements/bulk:
    post:
      summary: Create multiple disbursements
      description: |
        Create multiple disbursements in a single request.
        This is useful for batch operations where you need to create many disbursements at once.

        All disbursements in the request will be created together. If any disbursement fails validation,
        the entire request will fail and no disbursements will be created.

        **Note:** Disbursements created through this endpoint cannot be looked up via `GET /v1/disbursements?idempotency_key=...`. The `idempotency_key` field on the returned disbursements will be `null`.
      operationId: bulkCreateDisbursements
      tags:
        - disbursements
      security:
        - bearerAuth: []
      requestBody:
        $ref: "#/components/requestBodies/BulkCreateDisbursementsRequest"
      responses:
        "201":
          description: The disbursements were created
          content:
            application/json:
              schema:
                type: object
                required:
                  - disbursements
                  - count
                properties:
                  disbursements:
                    type: array
                    items:
                      $ref: "#/components/schemas/Disbursement"
                  count:
                    type: integer
                    description: The number of disbursements created
                    example: 2
              examples:
                BulkCreateDisbursements:
                  $ref: "#/components/examples/BulkCreateDisbursements"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/disbursements/{id}:
    get:
      summary: Get a disbursement
      description: |
        Get a disbursement by its unique identifier.
      operationId: getDisbursement
      tags:
        - disbursements
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the disbursement
          required: true
          schema:
            type: string
          example: "disbursement_01jpjen1s23s29kkmnjsb6fzga"
      responses:
        "200":
          description: The disbursement was retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Disbursement"
              examples:
                DafGrantDisbursement:
                  $ref: "#/components/examples/DafGrantDisbursement"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/disbursements/{id}/approve:
    post:
      summary: Approve a disbursement
      description: |
        Approve a disbursement in a pending_approval state.
        If the disbursement is in a different state, this will return a 400 error.
      operationId: approveDisbursement
      tags:
        - disbursements
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the disbursement
          required: true
          schema:
            type: string
          example: "disbursement_01jpjen1s23s29kkmnjsb6fzga"
      responses:
        "200":
          description: The disbursement was approved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Disbursement"
              examples:
                ApprovedDafGrantDisbursement:
                  $ref: "#/components/examples/ApprovedDafGrantDisbursement"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/disbursements/approve:
    post:
      summary: Approve multiple disbursements
      description: |
        Approve multiple disbursements in a single request.
        This is useful for batch approval operations.

        All disbursements must be in the `pending_approval` state. If any disbursement
        cannot be approved, the entire request will fail and no disbursements will be approved.
      operationId: bulkApproveDisbursements
      tags:
        - disbursements
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - disbursement_ids
              properties:
                disbursement_ids:
                  type: array
                  description: Array of disbursement IDs to approve
                  minItems: 1
                  items:
                    type: string
                    example: "disbursement_01jpjen1s23s29kkmnjsb6fzga"
      responses:
        "200":
          description: The disbursements were approved
          content:
            application/json:
              schema:
                type: object
                required:
                  - disbursements
                  - count
                properties:
                  disbursements:
                    type: array
                    items:
                      $ref: "#/components/schemas/Disbursement"
                  count:
                    type: integer
                    description: The number of disbursements approved
                    example: 5
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/disbursements/{id}/cancel:
    post:
      summary: Cancel a pending disbursement
      description: |
        Cancel a pending disbursement in a pending_approval state.
        If the disbursement is in a different state, this will return a 400 error.
      operationId: cancelDisbursement
      tags:
        - disbursements
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the disbursement
          required: true
          schema:
            type: string
          example: "disbursement_01jpjen1s23s29kkmnjsb6fzga"
      responses:
        "200":
          description: The disbursement was canceled
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Disbursement"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/disbursements/{id}/stop:
    post:
      summary: Stop payment for a disbursement
      description: |
        Stop payment for a disbursement sent via check.

        This prevents the recipient from depositing the check. If the check has already been deposited, the stop payment request will fail.

        **Requirements:**
        - Disbursement must be in `submitted` status
        - Disbursement must be sent via check
        - Check must not have already been deposited

        After successfully stopping payment, the disbursement status will be updated to `stopped`.
      operationId: stopDisbursement
      tags:
        - disbursements
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the disbursement
          required: true
          schema:
            type: string
          example: "disbursement_01jpjen1s23s29kkmnjsb6fzga"
      requestBody:
        $ref: "#/components/requestBodies/StopDisbursementRequest"
      responses:
        "202":
          description: The stop payment request was accepted
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "412":
          $ref: "#/components/responses/PreconditionFailedError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/simulations/disbursements/{id}/complete:
    post:
      summary: "Sandbox: Complete a disbursement"
      description: |
        Simulates successful disbursement completion for testing purposes.
        The disbursement must have a status of `submitted`.

        After calling this endpoint, the disbursement status will be updated to `completed`.

        <Note title="Sandbox Only" icon="fa-light fa-atom-simple">
        This API is only available in the sandbox environment.
        </Note>
      operationId: simulateDisbursementCompletion
      tags:
        - disbursements
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the disbursement
          required: true
          schema:
            type: string
          example: "disbursement_01jpjen1s23s29kkmnjsb6fzga"
      responses:
        "202":
          description: The disbursement completion request was accepted
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/simulations/disbursements/{id}/fail:
    post:
      summary: "Sandbox: Fail a disbursement"
      description: |
        Simulates a payment failure or return for testing purposes.
        The disbursement must have a status of `submitted`.
        This only applies for disbursements sent via ACH or check.

        - **ACH disbursements**: Status becomes `failed` (payment was returned and cannot be retried)
        - **Check disbursements**: Status becomes `validating_organization` (check was returned). When this happens, Chariot will investigate why the check failed to reach the organization, update any required recipient information (such as mailing address or organization contact details), and automatically reattempt payout once the issue is resolved.

        <Note title="Sandbox Only" icon="fa-light fa-atom-simple">
        This API is only available in the sandbox environment.
        </Note>
      operationId: simulateDisbursementFailure
      tags:
        - disbursements
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the disbursement
          required: true
          schema:
            type: string
          example: "disbursement_01jpjen1s23s29kkmnjsb6fzga"
      responses:
        "202":
          description: The disbursement failure simulation was accepted
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/simulations/grants/{id}/complete:
    post:
      summary: "Sandbox: Complete a grant"
      description: |
        Simulates the DAF sponsor completing a grant. Transitions the grant status to `completed`.

        <Note title="Sandbox Only" icon="fa-light fa-atom-simple">
        This API is only available in the sandbox environment.
        </Note>
      operationId: simulateGrantCompletion
      tags:
        - Grants
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the grant.
          required: true
          schema:
            type: string
            format: uuid
          example: "10229488-08d2-4629-b70c-a2f4f4d25344"
      responses:
        "200":
          description: The updated grant
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Grant"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/simulations/grants/{id}/cancel:
    post:
      summary: "Sandbox: Cancel a grant"
      description: |
        Simulates the DAF sponsor canceling the grant. Transitions the grant status to `canceled`.

        <Note title="Sandbox Only" icon="fa-light fa-atom-simple">
        This API is only available in the sandbox environment.
        </Note>
      operationId: simulateGrantCancellation
      tags:
        - Grants
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the grant.
          required: true
          schema:
            type: string
            format: uuid
          example: "10229488-08d2-4629-b70c-a2f4f4d25344"
      responses:
        "200":
          description: The updated grant
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Grant"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/inbound_transfers:
    post:
      summary: Create an Inbound transfer
      description: |-
        Create an inbound transfer to fund your financial account
        from an externally linked bank account.
        In Production, this requires that an external bank account has been setup
        and verified for your account through the Chariot Dashboard.
      operationId: createInboundTransfer
      tags:
        - inboundTransfers
      security:
        - bearerAuth: []
      parameters:
        - name: Idempotency-Key
          in: header
          description: The idempotency key for the request
          required: false
          schema:
            type: string
      requestBody:
        $ref: "#/components/requestBodies/CreateInboundTransferRequest"
      responses:
        "201":
          description: The inbound transfer was created
          headers:
            Location:
              $ref: "#/components/headers/Location"
            Idempotency-Key:
              $ref: "#/components/headers/Idempotency-Key"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InboundTransfer"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "500":
          $ref: "#/components/responses/InternalServerError"
    get:
      summary: List Inbound Transfers
      description: |-
        List inbound transfers for your account.
      operationId: listInboundTransfers
      tags:
        - inboundTransfers
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
          required: false
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: The cursor to use for pagination. If not set, the first page of results will be returned.
          required: false
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/ListInboundTransfersResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /v1/inbound_transfers/{id}:
    get:
      summary: Get an Inbound Transfer
      description: |-
        Get an inbound transfer by its unique identifier.
      operationId: getInboundTransfer
      tags:
        - inboundTransfers
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          description: The unique identifier for the inbound transfer
          required: true
          schema:
            type: string
          example: "inbound_transfer_01j8rs605a4gctmbm58d87mvsj"
      responses:
        "200":
          description: The inbound transfer was retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InboundTransfer"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/AuthenticationError"
        "403":
[...]
